div.viewsContainer

    div.viewsNotice(
        layout="column"
        layout-align="center center"
        ng-if="vm.loading")
        h3 Loading views...

    md-container.viewsList(
        ng-show="vm.toShow === 'views'"
        flex="100"
        layout="column")

        div.view(
            layout="row"
            ng-if="vm.views.length > 0"
            ng-click="vm.selectView(view)"
            style="background-color: {{view.highlighted ? ' rgba(186, 197, 225, 0.20)' : 'initial'}};"
            ng-repeat="view in vm.views track by $index")

            div.viewMain(layout="row")
                img.viewThumbnail(src="http://192.168.1.6:80/api/carmen/5da556e1-4f45-4b19-8564-f07447df1fe2/issues/9598acd0-52d6-11e8-bc93-6b77d94e3052/thumbnail.png")
                div.viewMetaData(layout="column", flex="100" layout-margin)
                    div(layout="row" layout-align="space-between center"  flex="100")
                        span.viewName {{view.name}}
                    div(layout="row" flex="100")
                        span.viewMeta  {{view.author}}
                        span.viewMeta  {{ view.createdAt  | date:"MM/dd/yyyy"}}
                    div(layout="row"  flex="100")
                        span.viewDescription {{view.description}}
               

            div.viewEnterHolder(
                ng-click="vm.editView()"
                ng-if="view.selected === true"
                layout="row"
                layout-align="center center")

                md-icon(class="angular-material-icons material-icons" role="img" aria-label="arrow_forward") arrow_forward

            div.viewEnterSpace(
                ng-if="view.selected !== true"
                layout="row"
                layout-align="center center")

        md-container.noViews(
            ng-if="vm.views.length === 0 && !vm.loading"
            layout-fill
            layout="column")

            h3 No views have been created yet

    //div.viewContainer(
        layout="column"
        layout-margin
        ng-show="vm.toShow === 'view'")


        div(layout="row" flex).viewMarginBottom
            div.openedViewColorBar(style="background-color: {{vm.getViewRGBAColor(vm.selectedView)}};")
            div(layout="column" flex)
                md-input-container
                    label View Name
                    input#viewName(
                        type="text"
                        ng-disabled="!vm.canAddView"
                        ng-model="vm.selectedView.name" 
                        ng-maxlength="80")

        md-input-container
            label View Description
            textarea.viewDescriptionInput(
                ng-disabled="!vm.canAddView"
                ng-model="vm.selectedView.description")

        md-container.viewObjectMetaContainer(
            layout="row"
            layout-align="space-between center")
            div.viewObjectMeta  Saved Objects: {{ vm.selectedView.totalSavedMeshes }} 
            div.viewObjectMeta  Selected Objects: {{ vm.selectedObjectsLen || 0 }}
        
        md-container(
            layout="row"
            layout-align="space-between center")

            div.metaMargin
                label.viewMeta Author: 
                span.viewMeta {{ vm.selectedView.author }}

            div.metaMargin
                label.viewMeta Creation Date: 
                span.viewMeta {{ vm.selectedView.createdAt  | date:"MM/dd/yyyy"}}
           
        md-container(
            layout="row"
            layout-align="space-between center")

            div.metaMargin
                label.viewMeta Last Updated By: 
                span.viewMeta {{ vm.selectedView.updatedBy }}

            div.metaMargin
                label.viewMeta Updated On: 
                span.viewMeta {{ vm.selectedView.updatedAt | date:"MM/dd/yyyy"}}


    div.addHolder(layout="row" flex="100")

        div(flex="50" layout="row" layout-align="start center")
            button(class="md-icon-button md-button md-ink-ripple" 
                type="button"
                ng-if="vm.views.length > 0"
                aria-label="Delete"
                ng-show="vm.toShow === 'views'"
                ng-click="vm.deleteView()")
                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") delete

            md-menu
                button(
                    class="md-icon-button md-button md-ink-ripple" 
                    type="button" 
                    aria-label="Color" 
                    ng-disabled="!vm.canAddView"
                    ng-show="vm.toShow === 'view' && !vm.savingView"
                    ng-click="vm.openColorMenu($mdMenu, $event)")
                    md-tooltip View Colour
                    md-icon(
                        class="angular-material-icons ng-scope material-icons"
                        role="img"
                        aria-hidden="true") format_color_fill

                md-menu-content.viewColorMenu
                    md-menu-item
                        div.viewColorGrid(layout="row")
                            div.viewColorColumn(layout="column" ng-repeat="row in vm.viewColours")
                                div.viewColorContainer(layout="row" ng-repeat="color in row")
                                    div.viewColor(
                                        ng-click="vm.setSelectedViewColor(color)"
                                        style="background-color: {{vm.getRGBA(color)}};")
                        div(layout="column")
                            md-input-container.viewHexColorContainer(layout="column" layout-align="start center")
                                label Hex Colour
                                input.viewHexColor(ng-model="vm.hexColor")
                            div(layout-fill).viewCurrentColorHolder
                                label.viewCurrentColor Current Colour
                                div.viewCurrentColorBlock(style="background-color: {{vm.getViewRGBAColor(vm.selectedView)}};")
            

            button(class="md-icon-button md-button md-ink-ripple" 
                type="button"
                ng-if="vm.views.length > 0"
                aria-label="Reselect"
                ng-show="vm.toShow === 'view' && !vm.savingView"
                ng-click="vm.reselectView()")
                md-tooltip Reset to Saved Selection
                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") replay

        div(flex="50" layout="row" layout-align="end center")
            button(class="md-accent md-fab md-mini md-button md-ink-ripple" 
                type="button" 
                aria-label="Add"
                ng-show="vm.toShow === 'views'"
                ng-disabled="!vm.canAddView"
                ng-click="vm.addView()")
                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") add
            
            button(
                class="md-accent md-fab md-mini md-button md-ink-ripple" 
                type="button" 
                aria-label="Add" 
                ng-disabled="vm.saveDisabled()"
                ng-show="vm.toShow === 'view' && !vm.savingView"
                ng-click="vm.handleViewSave()")

                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") save
            
            md-progress-circular.spinner(
                ng-if="vm.toShow === 'view' && vm.savingView")




        
        

