div.viewsContainer

    div.viewsNotice(
        layout="column"
        layout-align="center center"
        ng-if="vm.loading")
        h3 Loading views...

    md-container.viewsList(
        ng-show="vm.toShow === 'views'"
        flex="100"
        layout="column")

        div.view(
            layout="row"
            ng-if="vm.views.length > 0"
            ng-click="vm.selectView(view)"
            style="background-color: {{view.highlighted ? ' rgba(186, 197, 225, 0.20)' : 'initial'}};"
            ng-repeat="view in vm.views track by $index")

            div.viewMain(layout="row")
                img.viewThumbnail(ng-src="{{vm.getThumbnailUrl(view.screenshot.thumbnail)}}")
                div(layout="column" layout-align="start center")
                    div(
                        ng-if="vm.editSelectedView !== view").viewName {{view.name || "(Unnamed View)"}}
                    input.viewName(
                        ng-model="vm.editSelectedView.name" 
                        ng-if="vm.editSelectedView === view")

            div.viewEnterHolder(
                ng-click="vm.editView(view)"
                ng-if="view.selected === true && vm.editSelectedView !== view"
                layout="row"
                layout-align="center center")

                md-icon(class="angular-material-icons material-icons" role="img" aria-label="pencil") edit

            div.viewEnterHolder(
                ng-click="vm.saveEditedView(view)"
                ng-if="view.selected === true && vm.editSelectedView === view"
                layout="row"
                layout-align="center center")

                md-icon(class="angular-material-icons material-icons" role="img" aria-label="pencil") save

            div.viewEnterSpace(
                ng-if="view.selected !== true"
                layout="row"
                layout-align="center center")

        md-container.noViews(
            ng-if="vm.views.length === 0 && !vm.loading"
            layout-fill
            layout="column")

            h3 No views have been created yet

    div.viewContainer(
        layout="column"
        layout-margin
        ng-show="vm.toShow === 'view'")

        div(layout="row" flex).viewMarginBottom
            div.openedViewColorBar(style="background-color: {{vm.getViewRGBAColor(vm.selectedView)}};")
            div(layout="column" flex)
                md-input-container
                    label View Name
                    input#viewName(
                        type="text"
                        ng-required
                        ng-disabled="!vm.canAddView"
                        ng-model="vm.newView.name" 
                        ng-maxlength="80")


    div.addHolder(layout="row" flex="100")

        div(flex="50" layout="row" layout-align="start center")
            button(class="md-icon-button md-button md-ink-ripple" 
                type="button"
                ng-if="vm.views.length > 0"
                aria-label="Delete"
                ng-show="vm.toShow === 'views'"
                ng-click="vm.deleteView()")
                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") delete

        div(flex="50" layout="row" layout-align="end center")
            button(class="md-accent md-fab md-mini md-button md-ink-ripple" 
                type="button" 
                aria-label="Add"
                ng-show="vm.toShow === 'views'"
                ng-disabled="!vm.canAddView"
                ng-click="vm.addView()")
                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") add
            
            button(
                class="md-accent md-fab md-mini md-button md-ink-ripple" 
                type="button" 
                aria-label="Add" 
                ng-disabled="!vm.newView || !vm.newView.name"
                ng-show="vm.toShow === 'view' && !vm.savingView"
                ng-click="vm.createView()")

                md-icon(
                    class="angular-material-icons ng-scope material-icons"
                    role="img"
                    aria-hidden="true") save
            
            md-progress-circular.spinner(
                ng-if="vm.toShow === 'view' && vm.savingView")




        
        

