doctype html
html(lang="en" ng-app="3drepo").ng-scope
	head
		base(href="/")

		// Meta, title, CSS, favicons, etc.
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title 3D Repo

		script(type="text/javascript", src="/public/plugins/base/config.js")

		script(src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded", async, defer)

		// CSS Files
		each val, key in cssfiles
			link(rel='stylesheet', type='text/css', href=val)

		// All CSS minified
		link(rel='stylesheet', type='text/css', href='/public/dist/three_d_repo.min.css')

		// JS Files
		each val, key in jsfiles
			script(type="text/javascript", src=val)

		// Predefine the app
		script.
			angular.module('3drepo', ['ui.router', 'ngMaterial', 'ngAnimate', 'ngSanitize', 'vcRecaptcha', 'ngFileUpload'])
			.constant('structure', !{structure})
			.constant('parentStates', !{parentStateJSON})
			//.constant('pluginLevels', !{pluginLevelsJSON})
			.constant('uiState', !{uistate});

		// Plugin JS and Angular files
		//script(type="text/javascript", src='/public/dist/plugins.min.js')
		script(type="text/javascript", src='/public/dist/three_d_repo.min.js')

		// Plugin JS Files
		//each val in pluginJS
			script(type="text/javascript", src=val)

		// Plugin Angular Files
		//each plugin in pluginAngular
			each file in plugin.files
				script(type="text/javascript", src=file)

		// Plugin CSS Files
		//each css in pluginCSS
			link(href=css, rel='stylesheet', type="text/css")

	body

		// Plugin JADE Files
		//each j in pluginJade
			script(type="text/ng-template", id=j.id)
				!= renderMe('./plugins/' + j.template, locals)

		// Frontend plugin JADE Files
		each j in frontendJade
			script(type="text/ng-template", id=j.id)
				!= renderMe(j.path, locals)

		home
