doctype html
html(lang="en" ng-app="3drepo").ng-scope
	head
		table
			each issueTypeIssues, issueType in issues
				tr
					if issueType === "open"
						th Open Issues
					else if issueType === "closed"
						th Closed Issues
				each issue in issueTypeIssues
					tr
						td Name
						td #!{issue.number} !{issue.name}
					tr
						td Author
						td !{issue.owner}
					tr
						td Timestamp
						td !{issue.created}
					tr
						td Roles
						if issue.assigned_roles
							each role in issue.assigned_roles
								td !{role}
					if issue.comments
						each comment in issue.comments
							tr
								td Owner
								td !{comment.owner}
							tr
								td Timestamp
								td !{comment.created}
							tr
								td !{comment.comment}

