
// tabindex is required for ng-keydown to work on a div/directive
#model()
	#project-viewport-container.row(tabindex="0", tdr-focus="true")

	measure(
		ng-if="!vm.isLiteMode"
		id='measure-tool'
	 	account='vm.account'
		model='vm.model'
		settings='vm.settings')

	#modelUI
		revisions(
			account="vm.account"
			model="vm.model"
			model-name="vm.settings.name"
			revision="vm.revision")

		panel#leftPanel(
			is-lite-mode="vm.isLiteMode"
			account="vm.account"
			model="vm.model"
			branch="vm.branch"
			revision="vm.revision"
			model-settings="vm.settings"
			position="left"
			style="pointer-events:{{vm.pointerEvents}}"
			selected-objects="vm.selectedObjects"
			set-initial-selected-objects="vm.setInitialSelectedObjects({selectedObjects: selectedObjects})")

		panel#rightPanel(
			ng-if="!vm.isLiteMode"
			account="vm.account"
			model="vm.model"
			branch="vm.branch"
			revision="vm.revision"
			position="right"
			style="pointer-events:{{vm.pointerEvents}}")

		right-panel(
			ng-if="!vm.isLiteMode"
			style="pointer-events:{{vm.pointerEvents}}")

		bottom-buttons(
			ng-if="!vm.isLiteMode"
			style="pointer-events:{{vm.pointerEvents}}")

error-dialog(
	error-message="vm.errorMessage"
)