.projectsPermissions(flex)
  div(layout="row" layout-align="start center")
    md-input-container.projectSelectContainer(md-no-float)
      label Project
      md-select(
        ng-model="vm.currentProject"
        placeholder="Select a project"
        ng-change="vm.onProjectChange()"
        ng-disabled="!vm.projects.length || vm.currentView === vm.PERMISSIONS_VIEWS.MODELS")
        md-option(
          ng-value="project.name"
          ng-repeat="project in vm.projects") {{::project.name}}

    .flex

    md-button.md-accent.switchButton(
      ng-disabled="!vm.models.length"
      ng-click="vm.toggleView()")
        div(
          ng-if="vm.currentView !== vm.PERMISSIONS_VIEWS.MODELS"
          layout="row"
          layout-align="start center")
          span Model & Federation permissions
          md-icon.angular-material-icons keyboard_arrow_right
        div(
          ng-if="vm.currentView === vm.PERMISSIONS_VIEWS.MODELS"
          layout="row"
          layout-align="start center")
          md-icon.angular-material-icons keyboard_arrow_left
          span Projects permissions

  permissions-list(
    ng-if="vm.currentView !== vm.PERMISSIONS_VIEWS.MODELS"
    flex="grow"
    data="vm.assignedProjectPermissions"
    permissions="vm.PROJECT_ROLES_LIST"
    current-teamspace="vm.currentTeamspace"
    on-change="vm.onPermissionsChange(updatedPermissions)")

  div(flex="grow" layout="row" ng-if="vm.currentView === vm.PERMISSIONS_VIEWS.MODELS")
    models-list(
      models="vm.models"
      current-teamspace="vm.currentTeamspace"
      on-change="vm.onModelSelectionChange(selectedModels)")

    permissions-list(
      ng-disabled="!vm.selectedModels.length"
      flex="grow"
      data="vm.assignedModelPermissions"
      permissions="vm.MODEL_ROLES_LIST"
      current-teamspace="vm.currentTeamspace"
      on-change="vm.onPermissionsChange(updatedPermissions)")

  .projectsPermissionsFooter(
    layout="row"
    layout-align="end center") Assign {{vm.currentView !== vm.PERMISSIONS_VIEWS.MODELS ? 'project' : 'model and federation'}} permissions
    
