.homeUserContent(layout="row", layout-align="center" layout-xs="column", flex)
	md-content.md-whiteframe-1dp(aria-label="Registered", flex="20")
		md-toolbar
			.md-toolbar-tools
				h2 Change Password
		.userContent(layout="column", layout-align="start")
			div(layout="column", ng-show="vm.pageState === vm.PAGE_STATE.CHANGING", flex)
				form(name="password")
					md-input-container.md-block
						label New Password {{vm.passwordStrength}}
						input(
							tdr-focus="true"
							name="new"
							aria-label="password entry"
							type="password"
							ng-model='vm.newPassword'
							ng-required
							ng-keypress="vm.passwordChange($event)")
					md-input-container.md-block
						label Confirm Password {{vm.passwordConfirmMessage}}
						input(
							name="confirm"
							aria-label="password confirm"
							type="password"
							ng-model='vm.confirmPassword'
							ng-keypress="vm.passwordChange($event)"
							ng-required)
				div(
					layout="row"
					layout-align="center center"
					flex="100")
					md-button.md-raised.md-accent(
						layout="row"
						flex="70"
						layout-align="center center"
						ng-disabled="!vm.newPasswordValid || vm.newPassword !== vm.confirmPassword || vm.showProgress"
						ng-click="vm.passwordChange()") Set Password
					md-progress-circular(md-diameter="20px", ng-if="vm.showProgress", md-mode="indeterminate")

				div(layout="row", layout-align="center center")
					h3(style="color:#F44336") {{vm.message}}

			div(layout="column", layout-align="start start", ng-if="vm.pageState === vm.PAGE_STATE.CHANGED")
				p Your password has been reset. Please go to the login page.
				md-button.md-raised.md-accent(ng-click="vm.goToLoginPage()") Login Page

			div(layout="column", layout-align="start start", ng-if="vm.pageState === vm.PAGE_STATE.INVALID")
				p Cannot change password due to URL is incomplete. Please ensure you have copied the whole link and try again.
				md-button.md-raised.md-accent(ng-click="vm.goToLoginPage()") Login Page

