md-button.md-icon-button.listSortButton(
	ng-disabled="vm.ngDisabled"
	ng-click="vm.onSortChange()"
	layout="row"
	layout-align="start center"
	ng-class="{'listSortButtonDescending': vm.isDescending()}")
	md-icon.angular-material-icons arrow_upward