// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

div(ng-show="vm.showAdd")
	#issuesAddContainer
		md-input-container(md-no-float="")
			input(placeholder="Title", ng-model="vm.title")

		md-input-container(md-no-float="")
			textarea(placeholder="Comment", ng-model="vm.comment")

		md-button.md-raised.md-accent(ng-click="vm.saveIssue()", ng-disabled="vm.saveIssueDisabled") Save

	md-divider

md-list(ng-if="!vm.showIssuesInfo")
	issue(
		ng-repeat="issue in vm.issuesToShow",
		data="issue",
		on-comments-toggled="vm.commentsToggled(issueId)"
		comments-toggled-issue-id="vm.commentsToggledIssueId"
		on-toggle-close-issue="vm.toggleCloseIssue(issue)"
		available-roles="vm.avialableRoles"
		on-issue-assign-change="vm.showPins()")

.issuesInfo(ng-if="vm.showIssuesInfo")
	p {{vm.issuesInfo}}

