.jobsList(ng-disabled="vm.ngDisabled")
	.jobsListHeader(layout="row" layout-align="start center")
		.jobsListCell(layout="row" layout-align="start center" flex="30")
			list-sort-button(
				ng-disabled="vm.ngDisabled"
				ng-class="{'active': vm.currentSort.type === vm.SORT_TYPES.FIELD && vm.currentSort.config.field === '_id'}"
				on-change="vm.setSortType(vm.SORT_TYPES.FIELD, order, {field: '_id'})")

			md-input-container.jobsListCellSearch(layout="row" layout-align="start center")
				md-icon.angular-material-icons search
				input(
					ng-disabled="vm.ngDisabled"
					ng-model="vm.searchText"
					ng-model-options="{debounce: 200}"
					placeholder="Job name"
					ng-change="vm.onSearch()")

		.jobsListCell(flex="25" layout="row" layout-align="start center")
			list-sort-button(
				ng-disabled="vm.ngDisabled"
				ng-class="{'active': vm.currentSort.type === vm.SORT_TYPES.FIELD && vm.currentSort.config.field === 'color'}"
				on-change="vm.setSortType(vm.SORT_TYPES.FIELD, order, {field: 'color'})")
			.usersListCellLabel Color

			div(flex)

	.jobsListLoader(ng-if="vm.isLoading" layout="row" layout-align="center center")
		md-progress-circular(md-mode="indeterminate" md-diameter="20")

	.jobsListPlaceholder(
		ng-if="!vm.isLoading && !vm.jobs.length"
		layout="row"
		layout-align="center center")
		p {{::vm.messageEmptyList}}

	.jobsListBody(
		ng-if="!vm.isLoading && vm.jobs.length"
		data-simplebar
		data-simplebar-x-hidden)
		div.jobsListRow(
			ng-repeat="job in vm.processedJobs track by job._id"
			layout="row"
			layout-align="start center")

			//Job details
			.jobsListCell(flex="30" layout="column" layout-align="center start")
				div(md-highlight-text="vm.searchText") {{job._id}}

			//Color
			.jobsListCell(flex="25" layout="row" layout-align="start center")
				color-picker(
					ng-model="job.color"
					ng-disabled="!vm.colors.length"
					placeholder="Select a color"
					ng-change="vm.onColorChange(job)"
					predefined-colors="vm.colors")

			div(flex)

			//Remove action
			md-button.md-icon-button.jobsListRemoveButton(ng-click="vm.onRemove(job)")
				md-icon.angular-material-icons remove_circle