doctype html
html(lang="en" ng-app="3drepo").ng-scope
	head
		// Meta, title, CSS, favicons, etc.
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title 3D Repo

		link(rel='stylesheet' type='text/css' href='#{x3domcss}')
		script(type="text/javascript" src='#{ammojs}')
		script(type="text/javascript" src='#{x3domjs}')
		script(type="text/javascript" src="#{jqueryjs}")
		link(rel='stylesheet', href="#{jqueryuicss}")
		script(type="text/javascript" src="#{jqueryuijs}")
		link(rel='stylesheet', href='#{bootstrapcss}')
		script(type="text/javascript" src="#{bootstrapjs}")
		script(type="text/javascript" src="#{bootstrapdialog}")
		link(rel='stylesheet', href="#{fancytreecss}" type="text/css")
		script(type="text/javascript" src="#{jqueryfancytree}")
		link(rel='stylesheet' type='text/css' href='#{repouicss}')
		script(type="text/javascript" src='#{showdownjs}')
		script(type="text/javascript" src='#{angularjs}')
		script(type="text/javascript" src='#{angularutilsjs}')
		script(type="text/javascript" src='#{angularrouterjs}')
		link(rel='stylesheet' type='text/css' href='#{fontawesomecss}')
		script(type="text/javascript" src="#{uibootstrap}")


		script(type="text/javascript" src="/public/js/controlinterface.js")
		script(type="text/javascript" src="/public/js/config.js")
		script(type="text/javascript" src="/public/js/tree.js")
		script(type="text/javascript" src="/public/js/floatingmeta.js")
		script(type="text/javascript" src="/public/js/viewer.js")
		script(type="text/javascript" src="/public/js/oculus.js")

		script.
			angular.module('3drepo', ['ui.router', 'ui.bootstrap']);

		script(type="text/javascript" src='/public/js/angularjs/boilerplate/pageConfigProvider.js')

		script(type="text/javascript" src="/public/js/angularjs/boilerplate/serverConfig.js")
		script(type="text/javascript" src="/public/js/angularjs/boilerplate/httpProvider.js")

		script(type="text/javascript" src="/public/js/angularjs/data/Users.js")
		script(type="text/javascript" src="/public/js/angularjs/data/UserData.js")
		script(type="text/javascript" src="/public/js/angularjs/data/Branches.js")
		script(type="text/javascript" src="/public/js/angularjs/data/Comments.js")
		script(type="text/javascript" src="/public/js/angularjs/data/CurrentBranch.js")
		script(type="text/javascript" src="/public/js/angularjs/data/CurrentRevision.js")
		script(type="text/javascript" src="/public/js/angularjs/data/Federation.js")
		script(type="text/javascript" src="/public/js/angularjs/data/Log.js")
		script(type="text/javascript" src="/public/js/angularjs/data/ProjectData.js")
		script(type="text/javascript" src="/public/js/angularjs/data/Readme.js")
		script(type="text/javascript" src="/public/js/angularjs/data/RevisionsByDay.js")
		script(type="text/javascript" src="/public/js/angularjs/data/UserData.js")
		script(type="text/javascript" src="/public/js/angularjs/data/Users.js")

		script(type="text/javascript" src="/public/js/angularjs/data/Data.js")

		script(type="text/javascript" src="/public/js/angularjs/boilerplate/Auth.js")
		script(type="text/javascript" src="/public/js/angularjs/project.js")
		script(type="text/javascript" src="/public/js/angularjs/projectPageConfig.js")

		script(type="text/javascript" src="/public/js/angularjs/controllers/LoginCtrl.js")
		script(type="text/javascript" src="/public/js/angularjs/controllers/SearchCtrl.js")
		script(type="text/javascript" src="/public/js/angularjs/controllers/project/DashboardCtrl.js")
		script(type="text/javascript" src="/public/js/angularjs/controllers/project/ViewCtrl.js")
		script(type="text/javascript" src="/public/js/angularjs/controllers/project/SignUpCtrl.js")
		script(type="text/javascript" src="/public/js/angularjs/controllers/project/SplashCtrl.js")

	body(ng-controller='LoginCtrl')
		// Not found template
		script(type='text/ng-template', id='404.html')
			include ng-templates/404.jade

		// Search results template
		script(type='text/ng-template', id='search.html')
			include ng-templates/search.jade

		// Splash template
		script(type='text/ng-template', id='splash.html')
			include ng-templates/splash.jade

		// Login template
		script(type='text/ng-template', id='login.html')
			include ng-templates/old_login.jade

		// Signup template
		script(type='text/ng-template', id='signup.html')
			include ng-templates/signup.jade

		// Common template
		script(type='text/ng-template', id='common.html')
			include ng-templates/common.jade

		// Menu template
		script(type='text/ng-template', id='menu.html')
			include ng-templates/menu.jade

		// Info template
		script(type='text/ng-template', id='info.html')
			include ng-templates/info.jade

		// Comments template
		// script(type='text/ng-template', id='comments.html')
		//	include ng-templates/comments.jade

		// Timeline template
		script(type='text/ng-template', id='revisions.html')
			include ng-templates/timeline.jade

		// Log template
		script(type='text/ng-template', id='log.html')
			include ng-templates/log.jade

		// Settings template
		script(type='text/ng-template', id='settings.html')
			include ng-templates/settings.jade

		// Cobie template
		script(type='text/ng-template', id='cobie.html')
			include ng-templates/cobie.jade

		// Home page template
		script(type='text/ng-template', id='home.html')
			include ng-templates/home.jade

		// Header template
		script(type='text/ng-template', id='header.html')
			include ng-templates/header.jade

		// Header
		script(type='text/ng-template', id='mainpage.html')
			include ng-templates/mainpage.jade

		// Footer
		script(type='text/ng-template', id='footer.html')
			include ng-templates/footer.jade

		.container-fluid
			.row.mainrow
				ng-include(ng-if="!(state.current.name=='login')" src="'header.html'")
			.row
					div(ui-view='')
			.row.mainrow
				ng-include(ng-if="!(state.current.name=='login')" src="'footer.html'")


