doctype xhtml
html
	head
		title 3drepo.io
		script.
			var dbname = "#{dbname}";
		link(rel='stylesheet' type='text/css' href='#{x3domcss}')
		script(type="text/javascript" src='#{x3domjs}')
		script(type="text/javascript" src="#{jqueryjs}")
		link(rel='stylesheet', href="#{jqueryuicss}")
		script(type="text/javascript" src="#{jqueryuijs}")
		script(type="text/javascript" src='#{angularjs}')
		script(type="text/javascript" src='#{angularutilsjs}')
		script(type="text/javascript" src='#{angularrouterjs}')
		script(type="text/javascript" src='../js/x3dcontroller.js')
		script(type="text/javascript" src='../js/3drepoapp.js')
		link(rel='stylesheet', href='#{bootstrapcss}')
		script(type="text/javascript" src="#{bootstrapjs}")
		script(type="text/javascript" src="#{bootstrapdialog}")
		link(rel='stylesheet', href="#{fancytreecss}" type="text/css")
		script(type="text/javascript" src="#{jqueryfancytree}")
		link(rel='stylesheet' type='text/css' href='#{repouicss}')
		body(ng-app='3drepoapp')
			block menu
			block content
