// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

// Tree
div(class="virtualRepeatInfiniteScroll", ng-show="vm.showTree")
	md-virtual-repeat-container.vertical-container(md-top-index="vm.topIndex" ng-if="vm.showNodes")
		.treeNodes(md-virtual-repeat="item in vm.infiniteItemsTree" md-on-demand="" class="repeated-item")
			div(style="margin-left:{{item.level * 20}}px", ng-if="item", layout="row", layout-align="start center", flex)
				// Expand/collapse
				md-button.md-icon-button.md-primary.expandButton(aria-label="Toggle Expand", ng-click="vm.expand(item._id)")
					md-icon.angular-material-icons(ng-if="!item.expanded && item.hasChildren") add_box
					//md-icon.angular-material-icons(ng-if="!item.expanded && !item.hasChildren", ng-class="{treeButtonDisabled: true}") remove
					md-icon.angular-material-icons(ng-if="!item.expanded && !item.hasChildren") remove
					md-icon.angular-material-icons(ng-if="item.expanded") indeterminate_check_box
				// Name
				div(flex, layout="row", layout-align="start center")
					p(ng-click="vm.selectNode(item)" ng-class="{treeNodeSelected: item.selected}") {{item.name}}
				// Toggle visibility
				md-button.md-icon-button.md-primary.toggleButton(aria-label="Toggle Visible", ng-click="vm.toggleTreeNode(item)")
					md-icon.angular-material-icons(ng-if="item.toggleState==='visible'") visibility
					md-icon.angular-material-icons(ng-if="item.toggleState==='invisible'") visibility_off
					md-icon.angular-material-icons.parentOfInvisible(aria-label="ParentOfInvisible", ng-if="item.toggleState==='parentOfInvisible'") visibility_off
			md-divider.treeNodeDivider(ng-if="item")

// Filter list
div(class="virtualRepeatInfiniteScroll" ng-if="vm.showFilterList && vm.filterItemsFound")
	md-virtual-repeat-container.vertical-container
		.treeNodes.filterNode(
		md-virtual-repeat="item in vm.infiniteItemsFilter"
		md-on-demand=""
		class="repeated-item"
		flex=""
		layout="row"
		layout-align="start center")
			div(flex)
				// Name
				div(layout="row", layout-align="start center", flex)
					div(flex, layout="row", layout-align="start center")
						p.filterListNodeName(ng-click="vm.filterItemSelected(item)", ng-class="item.class") {{item.name}}
					// Toggle visibility
					md-button.md-icon-button.md-primary.toggleButton(aria-label="Toggle Visible", ng-click="vm.toggleFilterNode(item)")
						md-icon.angular-material-icons(aria-label="Visible", ng-if="item.toggleState==='visible'") visibility
						md-icon.angular-material-icons(aria-label="Invisible", ng-if="item.toggleState==='invisible'") visibility_off
				md-divider.treeNodeDivider(ng-if="item")

.cardInfo(ng-if="vm.showFilterList && !vm.filterItemsFound")
	p No items found