div(ng-class="iss.height")
	div(ng-show="iss.showAdd")
		#issuesAddContainer
			md-input-container(md-no-float="")
				input(placeholder="Title", ng-model="iss.title")

			md-input-container(md-no-float="")
				textarea(placeholder="Comment", ng-model="iss.comment")

			md-button.md-raised.md-accent(ng-click="iss.saveIssue()", ng-disabled="iss.saveIssueDisabled") Save

		md-divider

	md-list
		issue(
			ng-repeat="issue in iss.issues",
			data="issue",
			on-comments-toggled="iss.commentsToggled(issueId)"
			comments-toggled-issue-id="iss.commentsToggledIssueId"
			on-save-comment="iss.saveComment(issue, text)"
			comment-saved="iss.commentSaved"
		)
