// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

// Tree
div(ng-cloak="", class="virtualRepeatInfiniteScroll", ng-show="vm.showTree")
	md-virtual-repeat-container.vertical-container(md-top-index="vm.topIndex")
		div(md-virtual-repeat="item in vm.infiniteItemsTree", md-on-demand="", class="repeated-item", flex="", md-item-size="10")
			div(style="margin-left:{{item.level * 20}}px", ng-if="item", layout="row")
				.treeButton(ng-click="vm.expand(item._id)")
					md-icon.md-accent(md-font-icon="fa-plus-square-o", class="fa", ng-if="!item.expanded", ng-class="{treeButtonDisabled: !item.hasChildren}")
					md-icon.md-accent(md-font-icon="fa-minus-square-o", class="fa", ng-if="item.expanded")
				p(ng-click="vm.selectNode(item)", ng-class="{viewerSelected: item.selected}") {{item.name}}
				.treeButton(ng-click="vm.toggleTreeNode(item)")
					md-icon.md-accent(md-font-icon="fa-circle-thin", class="fa", ng-if="item.toggleState==='visible'")
						.treeIconCheck(class="fa fa-check")
					md-icon.md-accent(md-font-icon="fa-circle-thin", class="fa", ng-if="item.toggleState==='invisible'")
					md-icon(md-font-icon="fa-circle-thin", class="fa", ng-if="item.toggleState==='parentOfInvisible'")
						.treeIconDot(class="fa fa-circle")

// Filter list
div(ng-cloak="", class="virtualRepeatInfiniteScroll", ng-if="vm.showFilterList")
	md-content(layout="column")
		md-virtual-repeat-container.vertical-container
			div(
				md-virtual-repeat="item in vm.infiniteItemsFilter"
				md-on-demand=""
				class="repeated-item"
				flex=""
				ng-class="item.class"
				layout="row"
			)
				p#treeFilterItemName(ng-click="vm.filterItemSelected(item)") {{item.name}}

				.treeButton(ng-click="vm.toggleFilterNode(item)")
					md-icon.md-accent(md-font-icon="fa-circle-thin", class="fa", ng-if="item.toggleState==='visible'")
						.treeIconCheck(class="fa fa-check")
					md-icon.md-accent(md-font-icon="fa-circle-thin", class="fa", ng-if="item.toggleState==='invisible'")
