form.newJobForm(name="newJobForm" layout="column")
	.newJobFormTitle {{::vm.title}}
	md-input-container(md-no-float="true")
		input(ng-model="vm.newJob._id" placeholder="Set job name")

	color-picker(
		ng-model="vm.newJob.color"
		ng-disabled="!vm.colors.length"
		placeholder="Select a color"
		predefined-colors="vm.colors")

	md-button.md-accent.md-raised.newJobFormButton(
		ng-disabled="!vm.newJob._id"
		ng-click="vm.addJob()") + Add job

	