div(ng-class="cl.height")
	div(layout="column", layout-align="start center")
		div
			| Axis:
			md-radio-group(ng-model="cl.selectedAxis")
				md-radio-button(ng-repeat="axis in cl.axes", value="{{axis}}") {{axis}}

		.clipSlider
			div(layout)
				md-slider(
					flex
					ng-model="cl.sliderPosition"
					step="{{cl.sliderStep}}"
					min="{{cl.sliderMin}}"
					max="{{cl.sliderMax}}"
					aria-label="Position"
				)
				div(flex="20", layout, layout-align="center center")
					input(flex, type="number", ng-model="cl.sliderPosition")