.homeUserContent.userContentNoMargin.accountUserManagement
	md-content.md-whiteframe-1dp(
		aria-label="User Management",
		layout="column",
		flex)
		md-toolbar
			.md-toolbar-tools
				h2 User Management

		.teamspaceSelectWrapper(layout="row")
			md-input-container.teamspaceSelectContainer(md-no-float, flex)
				label Teamspace
				md-select(
					ng-model="vm.selectedTeamspace"
					placeholder="Select a teamspace"
					ng-change="vm.onTeamspaceChange()"
					ng-disabled="!vm.teamspaces.length")
					md-option(
						ng-value="teamspace.account"
						ng-repeat="teamspace in vm.teamspaces") {{::teamspace.account}}

		.accountUserManagementLoader(ng-if="vm.isLoadingTeamspace" layout="row" layout-align="center center")
			md-progress-circular(md-mode="indeterminate" md-diameter="20")

		md-tabs(
			flex
			md-border-bottom
			md-selected="vm.selectedTab")
			md-tab(
				label="Users"
				md-on-select="vm.onTabChange()"
				ng-disabled="!vm.isLoadingTeamspace && !vm.isTeamspaceAdmin")
				div(layout="column" layout-fill)
					users(
						flex
						layout="row"
						users="vm.users"
						jobs="vm.jobs"
						limit="vm.licencesLimit"
						active="vm.selectedTab === vm.TABS_TYPES.USERS"
						ng-if="!vm.isLoadingTeamspace")

			md-tab(label="Projects" md-on-select="vm.onTabChange()")
				div(layout="column" layout-fill)
					projects-permissions(
						flex
						ng-if="!vm.isLoadingTeamspace"
						layout="row"
						members="vm.users"
						projects="vm.projects"
						current-teamspace="vm.currentTeamspace"
						on-change="vm.onJobsChange(updatedJobs)")

			md-tab(
				label="Jobs"
				md-on-select="vm.onTabChange()"
				ng-disabled="!vm.isLoadingTeamspace && !vm.isTeamspaceAdmin")
					div(layout="column" layout-fill)
						jobs(flex active="vm.selectedTab === vm.TABS_TYPES.JOBS")