.homeUserContent.userContentNoMargin.accountUserManagement
	md-content.md-whiteframe-1dp(
		aria-label="User Management",
		layout="column",
		flex)
		md-toolbar
			.md-toolbar-tools
				h2 User Managment

		.teamspaceSelectWrapper(layout="row")
			md-input-container.teamspaceSelectContainer(md-no-float, flex)
				md-select(
					ng-model="vm.selectedTeamspace"
					placeholder="Select a teamspace"
					ng-change="vm.onTeamspaceChange()"
					ng-disabled="!vm.teamspaces.length")
					md-option(
						ng-value="teamspace.account"
						ng-repeat="teamspace in vm.teamspaces") {{teamspace.account}}
	
		md-tabs(md-dynamic-height, md-border-bottom) 
			md-tab(label="Users")
				list.usersList

			md-tab(label="Jobs")
				list.jobsList

			md-tab(label="Projects")
				list.projectsList
						
