.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Teamspaces", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Teamspaces


		div(layout="column", layout-align="space-between")

			div.loadingText(ng-if="vm.loading") 
				md-progress-circular
				h3 Loading...

			account-items(
				ng-if="!vm.loading"
				account="vm.account"
				accounts="vm.accounts"
				on-show-page="vm.showPage(page, callingPage)"
				quota="vm.quota"
				subscriptions="vm.subscriptions")