account-menu(
	layout="row"
	account="vm.account"
	is-lite-mode="vm.isLiteMode")

div#accountHolder(
	layout="row"
	flex="100"
	ng-if="!vm.state.model")

	#account(
		flex="100"
		layout="row"
		layout-xs="column"
		layout-sm="column")

		account-info(
			flex-xs="85"
			flex-sm="85"
			flex-md="25"
			flex-lg="30"
			flex-xl="25"

			loading="vm.loadingAccount"
			username="vm.username"
			first-name="vm.firstName"
			last-name="vm.lastName"
			email="vm.email"
			has-avatar="vm.hasAvatar"
			item-to-show="vm.itemToShow")

		.accountSpace

		#accountItem(flex="100")
			teamspaces(ng-if="vm.pageVisibility.teamspaces")

			profile(ng-if="vm.username && vm.pageVisibility.profile")

			billing(ng-if="vm.username && vm.pageVisibility.billing")

			model-settings(
				ng-if="vm.username && vm.pageVisibility.modelsetting"
			)

			user-management(ng-if="vm.username && vm.pageVisibility.userManagement")

div(ng-if="vm.state.model")
	model(
		is-lite-mode="vm.isLiteMode"
		account="vm.state.account"
		model="vm.state.model"
		branch="vm.state.branch"
		revision="vm.state.revision"
		issue-id="vm.state.issue"
		risk-id="vm.state.risk"
		state="vm.state")

dialog-container
snackbar-container