.userContent(ng-style="vm.addButtons && { 'opacity' : 0.13, 'pointer-events' : 'none' }")

	input#existingModelFileUploader(type="file")
	input#newModelFileUploader(type="file")

	md-list#accountList.tree-branch(flex)
		// Accounts
		div(ng-repeat="account in vm.accounts")
			div(layout="column", layout-align="space-between")
				md-list-item.tree-node(flex)
					.account(layout="row", layout-align="start center", md-ink-ripple, flex, ng-click="vm.toggleProjects(account.projects)")
						md-button.md-icon-button(aria-label="Folder")
							md-icon.angular-material-icons(ng-show="vm.shouldShow(account.projects)") folder_open
							md-icon.angular-material-icons(ng-show="!vm.shouldShow(account.projects)") folder
						p {{account.account}}
						md-icon.angular-material-icons.accountModelsSharedIcon(ng-show="!account.canAddModel") group


				div( layout="column")
					// Project
					
					div(ng-show="vm.shouldShow(account.projects, 'projects', account.account)")
						p.no-federations(ng-show="account.projects.length === 0") No projects created

						md-list.tree-branch(ng-repeat="project in account.projects")

							div(ng-click="vm.toggleProject(project)" layout="row")
								md-list-item.tree-node(flex, md-ink-ripple)
									md-button.md-icon-button(aria-label="Folder")
										md-icon.angular-material-icons(ng-show="vm.shouldShow(project)") folder_open
										md-icon.angular-material-icons(ng-show="!vm.shouldShow(project)") folder 
									p.projectName {{project.name}}

								md-menu(
									md-position-mode="target-right target"
									ng-show="vm.projectData.visible(project)")
									md-button.md-icon-button(
										aria-label="More"
										ng-click="$mdOpenMenu($event)")
										md-icon.md-menu-origin.angular-material-icons(md-menu-origin) more_vert
									md-menu-content(width="3")
										md-menu-item(ng-repeat="(key, value) in vm.projectData.projectOptions")
											md-button(
												ng-show="value.visible(project)"
												ng-click="vm.doProjectOption(key, project, account)")
												div(layout="row", flex)
													span(flex, style="color:{{value.color}}") {{value.label}}
													md-icon.angular-material-icons(
														md-menu-align-target, 
														style="color:{{value.color}}") {{value.icon}}

							// Project Models and Federations
							md-list.tree-branch(ng-show="vm.shouldShow(project, 'project', account.account)")

								div(ng-click="vm.toggleModels(project)")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons(ng-show="vm.shouldShow(project, 'models')") folder_open
											md-icon.angular-material-icons(ng-show="!vm.shouldShow(project, 'models')") folder
										p Models
								
								div(ng-show="vm.shouldShow(project, 'models', account.account)")
									div(ng-repeat="model in vm.getIndividualModels(project.models)"
										ng-show="model.name")
								
										account-model(
											account="account.name"
											is-account-admin="account.permissions.indexOf('teamspace_admin')"
											project="project"
											model="model"
											user-account="vm.account"
											on-upload-file="vm.uploadFile(model)"
											uploaded-file="vm.uploadedFile"
											model-to-upload="vm.modelToUpload"
											on-show-page="vm.showPage(page, callingPage)"
											on-setup-delete-model="vm.setupDeleteModel(event, model, account, project)",
											quota="vm.quota"
											subscriptions="vm.subscriptions")

									p.no-federations(ng-show="vm.getIndividualModels(project.models).length == 0") No models created

								
								div(ng-click="vm.toggleFederations(project)")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons(ng-show="vm.shouldShow(project, 'federations')") folder_open
											md-icon.angular-material-icons(ng-show="!vm.shouldShow(project, 'federations')") folder
										p Federations
									
								div(ng-show="vm.shouldShow(project, 'federations', account.account)")

									div(ng-repeat="federation in vm.getFederations(project.models)"
										ng-show="federation.name")
										
										account-federations(											
											federation="federation"
											federations-saving="vm.federationsSaving"
											project="project"
											account="account"
											is-saving="vm.isSaving"
											federation-data="vm.federationData"
											setup-federation-data="vm.setupFederationData"
											get-potential-federation-models="vm.getPotentialFederationModels"
											is-default-federation="false"
											add-to-federation="vm.addToFederation"
											save-federation="vm.saveFederation"
											on-show-page="vm.showPage(page, callingPage)"
											accounts="vm.accounts"
											subscriptions="vm.subscriptions")

									p.no-federations(
										ng-show="!vm.hasFederations(project.models)") No federations created


						// Default - default space models and federations
						md-list.tree-branch(ng-show="(account.models.length || account.models.length)")
							div(ng-click="vm.toggleDefault(account.account, 'project')")
								md-list-item.tree-node(flex, md-ink-ripple)
									md-button.md-icon-button(aria-label="Folder")
										md-icon.angular-material-icons(ng-show="vm.showDefaults(account.account, 'project')") folder_open
										md-icon.angular-material-icons(ng-show="!vm.showDefaults(account.account, 'project')") folder  
									p Default

							// Unassigned Models and Federations
							md-list.tree-branch(ng-show="vm.showDefaults(account.account, 'project')")

								div(ng-click="vm.toggleDefault(account.account, 'models')")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons(ng-show="vm.showDefaults(account.account, 'models')") folder_open
											md-icon.angular-material-icons(ng-show="!vm.showDefaults(account.account, 'models')") folder 
										p Models
								
								div(ng-show="vm.showDefaults(account.account, 'models')")
									div(ng-show="model.name"
										ng-repeat="model in account.models")

										account-model(
											account="account.name"
											is-account-admin="account.permissions.indexOf('teamspace_admin')"
											project="project"
											model="model"
											user-account="vm.account"
											on-upload-file="vm.uploadFile(model)"
											uploaded-file="vm.uploadedFile"
											model-to-upload="vm.modelToUpload"
											is-default-federation="true"
											on-show-page="vm.showPage(page, callingPage)"
											on-setup-delete-model="vm.setupDeleteModel(event, model, account, project)",
											quota="vm.quota"
											subscriptions="vm.subscriptions")

								p.no-federations(ng-show="account.models.length === 0") No default models

								div(ng-click="vm.toggleDefault(account.account, 'feds')")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons(ng-show="vm.showDefaults(account.account, 'feds')") folder_open
											md-icon.angular-material-icons(ng-show="!vm.showDefaults(account.account, 'feds')") folder 
										p Federations

								div(ng-show="vm.showDefaults(account.account, 'feds') && federation.name"
									ng-repeat="(federationIndex, federation) in account.fedModels")

									account-federations(
										federation="federation"
										project="project"
										account="account"
										federation-data="vm.federationData"
										setup-federation-data="vm.setupFederationData"
										get-potential-federation-models="vm.getPotentialFederationModels"
										add-to-federation="vm.addToFederation"
										save-federation="vm.saveFederation"
										accounts="vm.accounts")

								p.no-federations(ng-show="account.fedModels.length === 0 && vm.showDefaults(account.account, 'feds')") No default federations
			
			md-divider

md-divider

div(layout="row" flex layout-align="end center")
	#floating-button(layout="column" ng-show="vm.addButtons")
		md-button(layout="row" ng-click="vm.newModel($event, vm.accounts)") Add Model
		md-button(layout="row" ng-click="vm.setupNewFederation($event, vm.accounts)") Add Federation 
		md-button(layout="row" ng-click="vm.newProject($event,  vm.accounts)") Add Project
div(layout="row" flex layout-align="end center")
	md-button.md-accent.md-fab.md-mini(aria-label="Add", ng-click="vm.addButtonsToggle()")
		md-icon.angular-material-icons {{vm.addButtonType}}


	//div(ng-show="!vm.modelsExist")
		.cardInfo(layout="row", layout-align="center center")
			p {{vm.info}}
			md-progress-circular(md-diameter="20px", ng-show="vm.showProgress", md-mode="indeterminate")
