#accountAssignPage.homeUserContent.userContentNoMargin
	md-content.md-whiteframe-1dp(aria-label="Assign", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Assign Permissions

		md-tabs(md-dynamic-height, md-border-bottom, md-selected="vm.selectedIndex", ng-click="vm.resetState()")
			
			// TEAMSPACES

			md-tab(label="Teamspace")
				div.assignTabHolder.loadingHolder(layout="row" ng-if="vm.loadingTeamspaces")
					md-progress-circular.loading
					h3 Loading Teamspace Permissions...

				div.assignTabHolder(layout="column" ng-if="!vm.loadingTeamspaces", flex="100")
					
					md-card(md-padding layout="row" layout-align="center center") 
						p Teamspaces are the top level container for all your content. Teamspaces hold Projects which in turn hold models and federations.

					md-card.assignDropDowns(flex="100")
						md-label Select Teamspace
						md-select(aria-label="Select Teamspace" ng-model="vm.teamspaceSelected", ng-required="true")
							md-option(
								ng-selected="vm.isFromUrl? teamspace.account === vm.check.account : teamspace.account === vm.account"
								ng-repeat="teamspace in vm.adminstrableTeamspaces(vm.teamspaces)"
								aria-label="{{teamspace.account}}" 
								value="{{teamspace.account}}") {{teamspace.account}}

					md-card
						table.scrollable.checkboxes(
							ng-if="vm.teamspaceSelected && vm.selectedTeamspace.teamspacePermissions.length"
							layout="column"
							flex)

							thead(layout="row")

								tr
									th.userColumn User
										md-tooltip The user to assign permissions to

								tr(
									ng-repeat="(permission, value) in vm.teamspacePermissions"
									ng-if="permission !== 'teamspace_admin'"
									layout-align="center center")
										th {{value.title}}
											md-tooltip {{value.tooltip}}

								tr
									th.adminColumn Admin
										md-tooltip {{vm.teamspacePermissions.teamspace_admin.tooltip}}

							tbody(layout="column")
								tr(
									layout-align="center center", 
									ng-repeat="user in vm.selectedTeamspace.teamspacePermissions"
									ng-if="user.permissions !== undefined && user.user")

									td.userColumn.userInput
										p {{user.user}}
		
									td(ng-if="permission !== 'teamspace_admin'"
										ng-repeat="(permission, value) in vm.teamspacePermissions") 
										md-checkbox(
											ng-disabled="vm.teamspaceAdminDisabled(user, permission)"
											aria-label="Checkbox {{value.title}}"
											layout-align="center center"
											ng-click="vm.teamspaceStateChange(user, permission)"
											ng-checked="vm.teamspaceAdminChecked(user, permission)")
									
									td
										md-checkbox(
											aria-label="Checkbox Admin"
											layout-align="center center"
											ng-disabled="vm.selectedTeamspace.account == user.user || vm.account == user.user"
											ng-click="vm.teamspaceStateChange(user, 'teamspace_admin')"
											ng-checked="vm.userHasPermissions(user, 'teamspace_admin')")


						//h3.noUsers(ng-if="vm.teamspacesToAssign()") No available users to assign permissions

			// PROJECT

			md-tab(label="Project", ng-click="vm.resetState()")
				div.assignTabHolder.loadingHolder(layout="row" ng-if="vm.projectsLoading")
					md-progress-circular.loading
					h3 Loading Teamspace Permissions...

				div.assignTabHolder(layout="column" ng-if="!vm.projectsLoading", flex="100")

					md-card(layout="row" layout-align="center center") 
						p Projects are a way of organising and grouping your models and federations. They sit below Teamspaces.

					md-card.assignDropDowns(layout="row")
						div(flex="50", layout="column")

							md-label Select Teamspace
							md-select.rowSelects(
								aria-label="Select Teamspace" 
								ng-model="vm.teamspaceSelected"
								ng-required="true")

								md-option(
									aria-label="{{teamspace.account}}" 
									ng-repeat="teamspace in vm.adminstrableProjectTeamspaces(vm.teamspaces)"
									value="{{teamspace.account}}") {{teamspace.account}}

						div(flex="50", layout="column", ng-disabled="!vm.teamspaceSelected")
							md-label Select Project
							md-select.rowSelects(
								aria-label="Select Project" 
								ng-disabled="!vm.teamspaceSelected"
								ng-model="vm.projectSelected", 
								ng-required="true")

								md-option(
									aria-label="{{project.name}}" 
									ng-repeat="project in vm.projects"
									value="{{project.name}}") {{project.name}}

					//h3(ng-if="!vm.modelReady")

					md-card
						table.scrollable.checkboxes(
							ng-if="vm.projectSelected"
							layout="column", 
							flex)
							thead(layout="column")
								tr
									th.userColumn User
										md-tooltip The user to assign permissions to

									th(ng-if="permission !== 'admin_project'"
										ng-repeat="(permission, value) in vm.projectPermissions"
										layout-align="center center") {{value.title}}
										md-tooltip {{value.tooltip}}

									th.adminColumn Admin
										md-tooltip {{vm.projectPermissions.admin_project.tooltip}}

							tbody(layout="column")
								tr(
									layout-align="center center", 
									ng-repeat="user in vm.selectedProject.userPermissions"
									ng-disabled="vm.account !== user.user || vm.selectedTeamspace.account == user.user"
									ng-if="user.permissions && user.user")

									td.userColumn.userInput
										p {{user.user}}

									td(ng-if="permission !== 'admin_project'"
										ng-repeat="(permission, value) in vm.projectPermissions") 

										md-checkbox(
											ng-disabled="vm.isTeamspaceAdmin(user)"
											aria-label="Project Permission {{value.title}}"
											layout-align="center center"
											ng-click="vm.projectStateChange(user, permission)"
											ng-checked="vm.adminChecked(user, permission)")

									td
										md-checkbox(
											aria-label="Checkbox Admin"
											layout-align="center center"
											ng-click="vm.projectStateChange(user, 'admin_project')"
											ng-disabled="vm.isTeamspaceAdmin(user)"
											ng-checked="vm.userHasProjectPermissions(user, 'admin_project') || vm.isTeamspaceAdmin(user)")

							
						
						h3.noUsers(ng-if="vm.projectsToAssign()") No available users to assign permissions


			// MODELS & FEDERATIONS

			md-tab(label="Models & Federations", ng-click="vm.resetState()")
				div.assignTabHolder.loadingHolder(layout="row", ng-if="vm.loadingTeamspaces || vm.projectsLoading")
					md-progress-circular.loading
					h3 Loading Teamspace Permissions...

				div.assignTabHolder(layout="column", ng-if="vm.modelDataReady()", flex="100")

					md-card(layout="row" layout-align="center center") 
						p Models and Federations sit below Projects. Federations are made of individual Models.

					md-card.assignDropDowns(layout="row")
						div(flex="33", layout="column")

							md-label Select Teamspace
							md-select.rowSelects(
								aria-label="Selection for Teamspace"
								ng-model="vm.teamspaceSelected"
								ng-required="true")

								md-option(
									aria-label="{{teamspace.account}}" 
									ng-repeat="teamspace in vm.teamspaces"
									ng-selected="vm.isFromUrl? teamspace.account === vm.check.account : teamspace.account === vm.account"
									value="{{teamspace.account}}") {{teamspace.account}}

						div(flex="33", layout="column")
							md-label Select Project
							md-select.rowSelects(
								aria-label="Selection for Project"
								ng-model="vm.projectSelected"
								ng-disabled="!vm.teamspaceSelected"
								ng-required="true")
								md-option(
									aria-label="{{project.name}}" 
									ng-repeat="project in vm.projects"
									value="{{project.name}}") {{project.name}}

						div(flex="33", layout="column")
							md-label(ng-if="vm.modelsLoaded() && !vm.modelsEmpty()") Select Model / Federation
							md-label(ng-if="vm.modelsLoaded() && vm.modelsEmpty()") No Models / Federations 
							md-label(ng-if="!vm.modelsLoaded()") Awaiting Models / Federations...
							md-select.rowSelects(
								flex
								aria-label="Selection for Model"
								ng-model="vm.modelSelected"
								ng-required="!(vm.modelsLoaded() && vm.modelsEmpty())" 
								ng-disabled="!vm.modelsLoaded() || (vm.modelsLoaded() && vm.modelsEmpty())")

								md-option(
									flex
									aria-label="{{model.name}}" 
									ng-repeat="model in vm.models"
									value="{{model.model}}") {{ vm.formatModelName(model) }} 

					md-card
						table.scrollable.radiobuttons(
							ng-if="vm.modelSelected"
							layout="column"
							flex)

							thead(layout="row")
								tr
									th.fixedWidth.userColumn User
										md-tooltip The user to assign permissions to

								//tr: th.fixedWidth.userColumn Role
								tr(ng-repeat="value in vm.modelRoles", layout-align="center center")
									th.fixedWidth.sentenceCase(
										ng-class="{'adminColumn' : value == 'admin'}") {{value}}

							tbody(layout="column", ng-if="vm.selectedModel && vm.modelReady")
								tr(
									layout-align="center center", 
									ng-repeat="(user, role) in vm.selectedRole"
									ng-disabled="vm.modelUserValid(user)"
									ng-if="user")

									td.fixedWidth.userColumn.userInput()
										p {{user}}

									//td.fixedWidth.userColumn.userInput()
										md-progress-circular.roleLoading

									td.fixedWidth(
										ng-repeat="value in vm.modelRoles", 
										layout-align="center center")

										md-radio-group(	
											ng-class="{'adminRadio' : value == 'admin'}"
											ng-disabled="value === 'admin'"
											ng-model="vm.selectedRole[user]"
											layout-align="center center"
											layout="row")

											md-radio-button(
												ng-disabled="value === 'admin'"
												aria-label="{{value}}"
												ng-click="vm.modelStateChange(user, value)"
												layout-align="center center"
												ng-value="value")

							//tbody(layout="column", ng-if="vm.modelSelected || !vm.modelReady")
								h3.noUsers Preparing users...

						//h3.noUsers(ng-if="vm.modelUsersToAssign()") No available users to assign permissions
