html
    head
        title 3drepo.io 
        link(rel='stylesheet' type='text/css' href='#{x3domcss}')
        script(type="text/javascript"
                src='#{x3domjs}')
        link(rel='stylesheet' type='text/css' href='#{repouicss}')
    body(style='width:100%; height:100%; border: 0px; padding:0px; margin:0px;')
            !{xml}
            table(style='position:absolute; top=0; left=0;')
                tr
                    td
                        button(onclick!="document.getElementById('model').runtime.showAll();"
                                style='z-index:1000000;')
                            Show Everything
                        button(onclick!="document.getElementById('model').runtime.resetView();"
                                style='z-index:1000000;')
                            Reset View
