// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

// Add alert hook
#addAlert(ng-if="vm.showAddAlert" flex)
	#addAlertBackground(flex layout-fill)
		#addAlertInfo(layout="column" flex layout-fill layout-align="center center")
			h3 {{vm.addAlertText}}
			md-button.md-primary(ng-click="vm.closeAddAlert()") OK

#issuesAddButton(ng-if="vm.showAddButton", layout-margin)
	md-button.md-accent.md-fab.md-mini(aria-label="Add" ng-click="vm.editIssue()")
		md-icon.angular-material-icons add

md-progress-circular.importBCFLoading(md-mode="indeterminate", md-diameter="15", ng-if="vm.importingBCF")

#issuesContent(ng-switch="vm.toShow")
	// Issues list
	issues-list(
	ng-switch-when="showIssues"
	account="vm.account"
	project="vm.project"
	all-issues="vm.issues"
	filter-text="vm.filterText"
	send-event="vm.sendEvent(type, value)"
	import-bcf="vm.importBcf(file)"
	event="vm.event"
	on-edit-issue="vm.editIssue(issue)"
	on-select-issue="vm.selectIssue(issue)"
	keys-down="vm.keysDown"
	content-height="vm.setContentHeight(height)"
	menu-option="vm.selectedMenuOption"
	selected-issue="vm.selectedIssue")

	// Issue
	issue-comp(
	ng-switch-when="showIssue"
	account="vm.account"
	project="vm.project"
	data="vm.selectedIssue"
	keys-down="vm.keysDown"
	exit="vm.editIssueExit(issue)"
	send-event="vm.sendEvent(type, value)"
	event="vm.event"
	issue-created="vm.issueCreated(issue)"
	content-height="vm.setContentHeight(height)"
	selected-objects="vm.selectedObjects"
	revision="vm.revision"
	set-initial-selected-objects="vm.setInitialSelectedObjects({selectedObjects: selectedObjects})"
	user-roles="vm.projectUserRoles")


