// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

// Add alert hook
#addAlert(ng-if="vm.showAddAlert" flex)
	#addAlertBackground(flex layout-fill)
		#addAlertInfo(layout="column" flex layout-fill layout-align="center center")
			h3 {{vm.addAlertText}}
			md-button.md-primary(ng-click="vm.closeAddAlert()") OK

div(ng-switch="vm.toShow")
	// Issues list
	md-list(ng-switch-when="showIssues")
		div(ng-repeat="issue in vm.issuesToShow")
			.issueHeader
				issue-header(
					index="$index"
					issue-data="issue"
					on-click="vm.showSelectedIssue(index, pinSelect)"
					show-info="issue.showInfo"
					info-text="vm.infoText"
					on-hide-info="vm.hideInfo()"
					md-ink-ripple)
			md-divider

	// Issue
	issue(
		ng-switch-when="showIssue"
		index="vm.selectedIndex"
		data="vm.selectedIssue"
		auto-save-comment="vm.autoSaveComment"
		on-comment-saved="vm.commentSaved()"
		on-comment-auto-saved="vm.commentAutoSaved(index)"
		available-roles="vm.availableRoles"
		project-user-roles="vm.projectUserRoles",
		on-issue-assign-change="vm.issueAssignChange()"
		on-toggle-close-issue="vm.toggleCloseIssue(issue)")

	// Add issue
	#issuesAddContainer(ng-switch-when="showAdd")
		// Type
		#issuesAddType
			p Type
			md-radio-group(ng-model="vm.type", layout="row", layout-align="space-between")
				md-radio-button.md-primary(ng-repeat="issueType in vm.issueTypes", value="{{issueType.value}}")
					md-icon.angular-material-icons {{issueType.icon}}
		md-divider#issuesAddTypeDivider
		// Title
		md-input-container.md-block(md-no-float="")
			label Title
			input#issueAddTitle(ng-model="vm.title")
		// Comment
		md-input-container.md-block(md-no-float="")
			label Comment
			textarea(ng-model="vm.comment")
		// Save
		div(layout="row", layout-align="start center")
			md-button.md-raised.md-accent(ng-click="vm.saveIssue()", ng-disabled="vm.saveIssueDisabled") Save
			md-progress-circular(md-diameter="20px", ng-if="vm.savingIssue")
			md-button.md-primary(ng-click="vm.cancelAddIssue()") Cancel
		// Scribble extra
		div(ng-if="vm.type==='scribble'")
			md-divider
			md-checkbox(ng-model="vm.toggleErase" aria-label="Toggle erase")
				md-icon(class="fa fa-eraser")

	// Info
	.cardInfo(ng-switch-when="showInfo")
		p {{vm.issuesInfo}}
