// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

// Add alert hook
#addAlert(ng-if="vm.showAddAlert" flex)
	#addAlertBackground(flex layout-fill)
		#addAlertInfo(layout="column" flex layout-fill layout-align="center center")
			h3 {{vm.addAlertText}}
			md-button.md-primary(ng-click="vm.closeAddAlert()") OK

div(ng-switch="vm.toShow")
	// Issues list
	md-list(ng-switch-when="showIssues")
		div(ng-repeat="issue in vm.issuesToShow")
			.issueHeader
				issue-header(
					index="$index"
					issue-data="issue"
					on-click="vm.showSelectedIssue(index, pinSelect)"
					show-info="issue.showInfo"
					info-text="vm.infoText"
					on-hide-info="vm.hideInfo()")
				//md-list-item.md-2-line.issueTitle(ng-click="vm.showSelectedIssue($index, false)")
					.issueHeaderText(layout="column" flex)
						p {{issue.title}}
						.issueTitleInfo(layout="row" layout-align="start")
							p(flex="60") {{issue.owner}}
							span(flex="25" layout="row" layout-align="end")
								p {{issue.timeStamp}}

				//.issueRoleMarkers(layout="column")
					div(ng-repeat="roleColor in issue.assignedRolesColors", style="background:{{roleColor}};", flex)

				//.issueStatusMarker
					md-icon(class="fa fa-circle-o issueOpen" ng-if="!issue.closed")
					md-icon(class="fa fa-circle-o issueClosed" ng-if="issue.closed")

				//.issueInfo(ng-if="issue.showInfo", layout="row" layout-align="start center")
					div(flex)
						h5 {{vm.infoText}}
					div(flex="15")
						md-button.md-icon-button(ng-click="vm.hideInfo($index)", aria-label="Hide info")
							md-icon(md-font-icon="fa-times-circle", class="fa")

			md-divider

	// Issue
	issue(
		ng-switch-when="showIssue"
		index="vm.selectedIndex"
		data="vm.selectedIssue"
		auto-save-comment="vm.autoSaveComment"
		on-comment-auto-saved="vm.commentAutoSaved(index)"
		available-roles="vm.availableRoles"
		project-user-roles="vm.projectUserRoles",
		on-issue-assign-change="vm.issueAssignChange()"
		on-toggle-close-issue="vm.toggleCloseIssue(issue)")

	// Add issue
	#issuesAddContainer(ng-switch-when="showAdd")
		h4 Add Issue
		md-input-container.md-block(md-no-float="")
			input(placeholder="Title", ng-model="vm.title")

		md-input-container.md-block(md-no-float="")
			textarea(placeholder="Comment", ng-model="vm.comment")

		md-button.md-raised.md-accent(ng-click="vm.saveIssue()", ng-disabled="vm.saveIssueDisabled") Save

	// Info
	.issuesInfo(ng-if="vm.showIssuesInfo")
		p {{vm.issuesInfo}}
