div(layout="column")
	issues-footer

issues-multi(
account="vm.account"
project="vm.project"
selected-object="vm.selectedObject"
keys-down="vm.keysDown"
clear="vm.clearMulti"
send-event="vm.sendEvent(type, value)")
