// Progress
tdr-progress(ng-if="vm.showProgress", info="vm.progressInfo")

// Add alert hook
#addAlert(ng-if="vm.showAddAlert" flex)
	#addAlertBackground(flex layout-fill)
		#addAlertInfo(layout="column" flex layout-fill layout-align="center center")
			h3 {{vm.addAlertText}}
			md-button.md-primary(ng-click="vm.closeAddAlert()") OK

#issuesAddButton(ng-if="vm.showAddButton", layout-margin)
	md-button.md-accent.md-fab.md-mini(aria-label="Add" ng-click="vm.editIssue()")
		md-icon.angular-material-icons add

#issuesContent(ng-switch="vm.toShow")
	// Issues list
	div(ng-switch-when="showIssues", tabindex="0", tdr-focus="true")
		issues-list-item(
		ng-repeat="issue in vm.issuesToShow"
		data="issue"
		on-edit-issue="vm.editIssue(issue)"
		select="vm.selectIssue"
		on-select="vm.issueSelect(issue)")

		//div(ng-repeat="issue in vm.issuesToShow")
			.issueHeader
				issue-header(
					index="$index"
					issue-data="issue"
					on-click="vm.showSelectedIssue(index, pinSelect)"
					show-info="issue.showInfo"
					info-text="vm.infoText"
					on-hide-info="vm.hideInfo()"
					md-ink-ripple)
			md-divider

	// Issue
	issue-comp(
	ng-switch-when="showIssue"
	account="vm.account"
	project="vm.project"
	data="vm.issueToEdit"
	keys-down="vm.keysDown"
	exit="vm.editIssueExit(issue)"
	send-event="vm.sendEvent(type, value)")
	//issue(
		ng-switch-when="showIssue"
		index="vm.selectedIndex"
		data="vm.selectedIssue"
		auto-save-comment="vm.autoSaveComment"
		on-comment-saved="vm.commentSaved()"
		on-comment-auto-saved="vm.commentAutoSaved(index)"
		available-roles="vm.availableRoles"
		project-user-roles="vm.projectUserRoles",
		on-issue-assign-change="vm.issueAssignChange()"
		on-toggle-close-issue="vm.toggleCloseIssue(issue)")

	// Add issue
	//#issuesAddContainer(ng-switch-when="showAdd")
		// Title
		md-input-container.md-block(md-no-float="")
			label Title
			input#issueAddTitle(ng-model="vm.title" tdr-focus="true")
		// Comment
		md-input-container.md-block(md-no-float="")
			label Comment
			textarea(ng-model="vm.comment")
		// Save
		div(layout="row", layout-align="start center")
			md-button.md-raised.md-accent(ng-click="vm.saveIssue()", ng-disabled="vm.saveIssueDisabled") Save
			md-progress-circular(md-diameter="20px", ng-if="vm.savingIssue")
			md-button.md-accent(ng-click="vm.cancelAddIssue()") Cancel
		// Multi component
		issues-multi(
		account="vm.account"
		project="vm.project"
		selected-object="vm.selectedObject"
		keys-down="vm.keysDown"
		clear="vm.clearMulti"
		send-event="vm.sendEvent(type, value)")
		// Footer
		issues-footer

	// Info
	.cardInfo(ng-switch-when="showInfo")
		p {{vm.issuesInfo}}

