div.homeContainer(
	ng-style="{ 'background-image': 'url({{vm.backgroundImage}})' }"
	layout="column"
	flex="100"
	ng-keydown="vm.keyAction($event)"
	ng-keyup="vm.keyAction($event)")

	viewer(
		id="viewer"
		flex="none"
		ng-if="!vm.isLegalPage"
		node="node"
		account="vm.$state.params.teamspace"
		model="vm.$state.params.modelId"
		branch="vm.$state.params.revision"
		revision="vm.$state.params.revision"
		style="pointer-events:none"
	)

	#legalLinks
		a(
			ng-repeat="display in vm.legalDisplays"
			target="_blank"
			rel="noopener"
			href="{{display.path}}") {{display.title}}
