div.homeContainer(
	ng-style="{ 'background-image': 'url({{vm.backgroundImage}})' }"
)

	viewer(
		id="viewer"
		flex="none"
		ng-if="!vm.isLegalPage"
		node="node"
		account="vm.$state.params.teamspace"
		model="vm.$state.params.modelId"
		branch="vm.$state.params.revision"
		revision="vm.$state.params.revision"
		style="pointer-events:none"
	)
