input#existingProjectFileUploader(type="file")
input#newProjectFileUploader(type="file")
.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Projects", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Repos
				//span(flex)
				//md-menu(md-position-mode="target-right target", md-offset="5 10")
					md-button.md-icon-button(aria-label="More", ng-click="$mdOpenMenu($event)")
						md-icon.angular-material-icons(md-menu-origin) more_vert
					md-menu-content(width="3")
						md-menu-item
							md-button(ng-click="vm.newDatabase($event)")
								p(flex) Add database

		md-list#accountList(flex, ng-if="vm.projectsExist")
			// Accounts
			div(ng-repeat="account in vm.accounts", flex)
				div(layout="row", layout-align="start center")
					md-list-item(flex="100", layout-fill)
						.account(ng-click="vm.toggleProjectsList($index)", layout="row", layout-align="start center", md-ink-ripple, layout-fill)
							md-button.md-icon-button(aria-label="Folder")
								md-icon.angular-material-icons {{account.showProjectsIcon}}
							p {{account.account}}
					spen(flex)
					.accountRight
						md-button.md-icon-button(aria-label="New project", ng-click="vm.newProject($event)")
							md-icon.angular-material-icons.md-accent playlist_add

				// Projects
				md-list.projects(ng-if="account.showProjects")
					div(layout="row", ng-repeat="project in account.projects", layout-align="start center", flex)
						md-list-item(flex, layout-fill)
							.project(
								ng-click="vm.goToProject(account.name, project)"
								layout="row"
								md-ink-ripple
								layout-align="start center"
								layout-fill
								)
								md-button.md-icon-button(aria-label="Dashboard")
									md-icon.angular-material-icons dashboard
								p.projectName(flex) {{project.name}}
						.projectRight(layout="row", layout-align="start center")
							.projectUploadInfo(ng-if="project.uploading", layout="row", layout-align="start center")
								p.projectUploadFilename {{vm.uploadedFile.name}}
								p.projectUploadInfo(ng-if="vm.showFileUploadInfo") {{vm.fileUploadInfo}}
								md-progress-circular.projectUploadIcon(md-mode="indeterminate", md-diameter="15", ng-if="vm.showUploading")
							p.projectTimestamp {{project.timestampPretty}}
							//md-button.md-accent.md-icon-button(
								aria-label="Upload"
								ng-click="vm.uploadModel(project)"
								ng-if="project.canUpload")
								md-icon.angular-material-icons cloud_upload
							md-menu(md-position-mode="target-right target")
								md-button.md-icon-button(aria-label="More", ng-click="$mdOpenMenu($event)")
									md-icon.md-menu-origin.angular-material-icons(md-menu-origin) more_vert
								md-menu-content(width="3")
									md-menu-item(ng-repeat="(key, value) in vm.projectOptions")
										md-button(ng-click="vm.doProjectOption($event, project, key)")
											div(layout="row", flex)
												p(flex) {{value.label}}
												md-icon.angular-material-icons(md-menu-align-target) {{value.icon}}
							//md-button.md-icon-button(aria-label="Delete", ng-click="vm.setupDeleteProject(event, project)")
								md-icon.angular-material-icons delete

				md-divider

		div(ng-if="!vm.projectsExist")
			.cardInfo(layout="row", layout-align="center center")
				p {{vm.info}}
				md-progress-circular(md-diameter="20px", ng-if="vm.showProgress", md-mode="indeterminate")
