.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Collaborators", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Collaborators

		.userContent
			//md-autocomplete(
				md-no-cache="vm.noCache"
				md-selected-item="vm.selectedUser"
				md-search-text="vm.searchText"
				md-items="user in vm.querySearch(vm.searchText)"
				md-item-text="user.name"
				md-min-length="0"
				placeholder="Add a collaborator"
				ng-disabled="vm.addDisabled"
				)
				md-item-template
					span(md-highlight-text="vm.searchText", md-highlight-flags="^i") {{user.name}}
				md-not-found
					span No user matching "{{vm.searchText}}" was found.
			#accountCollaboratorsAdd
				div
					md-input-container.md-block(ng-disabled="vm.allLicensesAssigned")
						label Collaborator username
						input(type="text", ng-model="vm.newCollaborator")
				div(layout="row")
					md-button.md-raised.md-accent(ng-click="vm.addCollaborator()", ng-disabled="vm.addDisabled") Add
					p {{vm.addMessage}}

			md-divider

			// Assigned
			md-list
				md-subheader.md-no-sticky Collaborators ({{vm.collaborators.length}} assigned, {{vm.unassigned.length}} unassigned)
				md-list-item(ng-repeat="user in vm.collaborators")
					md-icon.angular-material-icons.collaboratorIcon(aria-label="Person") person
					.md-list-item-text
						p {{user.name}}
					span(flex)
					md-button.md-icon-button.md-accent(ng-click="vm.removeCollaborator($index)")
						md-icon.angular-material-icons(aria-label="Close dialog") remove_circle

			// Unassigned
			md-list#accountCollaboratorsUnassigned
				md-list-item(ng-repeat="unassigned in vm.unassigned track by $index")
					md-icon.angular-material-icons.collaboratorIcon(aria-label="Person") person
					.md-list-item-text
						p Unassigned
					span(flex)
					md-button.md-icon-button
						md-icon.angular-material-icons(aria-label="Close dialog") remove_circle
