.homeUserContent
	md-content.md-whiteframe-1dp(aria-label="Repos", flex)
		md-toolbar
			.md-toolbar-tools
				h2 Repos

		md-tabs(md-dynamic-height, md-border-bottom)
			md-tab(label="Projects")
				account-projects(
				account="vm.account"
				accounts="vm.accounts"
				on-show-page="vm.showPage(page, callingPage)"
				quota="vm.quota"
				subscriptions="vm.subscriptions")

			md-tab(label="Federations")
				account-federations(
				account="vm.account"
				accounts="vm.accounts"
				on-show-page="vm.showItem(page, callingPage)"
				quota="vm.quota"
				subscriptions="vm.subscriptions")