.userContent(ng-style="vm.addButtons && { 'opacity' : 0.13, 'pointer-events' : 'none' }")

	input#existingModelFileUploader(type="file")
	input#newModelFileUploader(type="file")

	md-list#accountList.tree-branch(flex)
		// Accounts
		div(ng-repeat="account in vm.accounts")
			div(layout="row", layout-align="space-between", ng-click="vm.toggleTeamspace(account)")
				md-list-item.tree-node(flex)
					.account(layout="row", layout-align="start center", md-ink-ripple, flex)
						md-button.md-icon-button(aria-label="Folder")
							md-icon.angular-material-icons(ng-if="vm.shouldShow(account)") folder_open
							md-icon.angular-material-icons(ng-if="!vm.shouldShow(account)") folder
						p {{account.account}}
						md-icon.angular-material-icons.accountModelsSharedIcon(ng-if="!account.canAddModel") group


			div(ng-if="vm.shouldShow(account)")
				md-divider
				// Projects
				md-list.tree-branch
					div(ng-click="vm.toggleProjects(account.projects)")
						md-list-item.tree-node(flex, md-ink-ripple)
							md-button.md-icon-button(aria-label="Folder")
								md-icon.angular-material-icons(ng-if="vm.shouldShow(account.projects)") folder_open
								md-icon.angular-material-icons(ng-if="!vm.shouldShow(account.projects)") folder
							p Projects
					
					div(ng-if="vm.shouldShow(account.projects, 'projects')")
						p.no-federations(ng-if="account.projects.length === 0") No projects created

						md-list.tree-branch(ng-repeat="project in account.projects")

							div(ng-click="vm.toggleProject(project)" layout="row")
								md-list-item.tree-node(flex, md-ink-ripple)
									md-button.md-icon-button(aria-label="Folder")
										md-icon.angular-material-icons(ng-if="vm.shouldShow(project)") folder_open
										md-icon.angular-material-icons(ng-if="!vm.shouldShow(project)") folder 
									p.projectName {{project.name}}

								md-menu(md-position-mode="target-right target")
									md-button.md-icon-button(aria-label="More", ng-click="$mdOpenMenu($event)")
										md-icon.md-menu-origin.angular-material-icons(md-menu-origin) more_vert
									md-menu-content(width="3")
										md-menu-item(ng-repeat="(key, value) in vm.projectData.projectOptions")
											md-button(ng-click="vm.doProjectOption(key, project, account)")
												div(layout="row", flex)
													span(flex, style="color:{{value.color}}") {{value.label}}
													md-icon.angular-material-icons(
														md-menu-align-target, 
														style="color:{{value.color}}") {{value.icon}}

							// Project Models and Federations
							md-list.tree-branch(ng-if="vm.shouldShow(project)")

								div(ng-click="vm.toggleModels(project)")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons(ng-if="vm.shouldShow(project, 'models')") folder_open
											md-icon.angular-material-icons(ng-if="!vm.shouldShow(project, 'models')") folder
										p Models
								
								div(ng-if="vm.shouldShow(project, 'models')")
									div(ng-repeat="model in vm.getIndividualModels(project.models)")
										
										account-model(
										account="account.name"
										is-account-admin="account.isAdmin"
										project="project"
										model="model"
										user-account="vm.account"
										on-upload-file="vm.uploadFile(model)"
										uploaded-file="vm.uploadedFile"
										model-to-upload="vm.modelToUpload"
										on-show-page="vm.showPage(page, callingPage)"
										on-setup-delete-model="vm.setupDeleteModel(event, model, account, project)",
										quota="vm.quota"
										subscriptions="vm.subscriptions")

									p.no-federations(ng-if="vm.getIndividualModels(project.models).length == 0") No models created

								
								div(ng-click="vm.toggleFederations(project)")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons(ng-if="vm.shouldShow(project, 'federations')") folder_open
											md-icon.angular-material-icons(ng-if="!vm.shouldShow(project, 'federations')") folder
										p Federations
									
								div(ng-if="vm.shouldShow(project, 'federations')")

									div(layout="column", 
										layout-align="start", 
										ng-repeat="federation in vm.getFederations(project.models) track by $index")
										
										account-federations(
											federation="federation"
											project="project"
											account="account"
											federation-data="vm.federationData"
											setup-federation-data="vm.setupFederationData"
											get-potential-federation-models="vm.getPotentialFederationModels"
											add-to-federation="vm.addToFederation"
											save-federation="vm.saveFederation"
											accounts="vm.accounts")

									p.no-federations(ng-if="!vm.hasFederations(project.models)") No federations created


						// Default - unassigned models and federations
						// TODO - We need to fix this on the backend as it's adding models with assigned projects to account.models!'
						//md-list.tree-branch(ng-if="(account.models.length || account.models.length)")
							div(ng-click="vm.toggleDefault('project')")
								md-list-item.tree-node(flex, md-ink-ripple)
									md-button.md-icon-button(aria-label="Folder")
										md-icon.angular-material-icons folder_open 
									p Unassigned Models / Federations

							// Unassigned Models and Federations
							md-list.tree-branch(ng-if="true")

								div(ng-click="vm.toggleDefault('models')")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons folder_open 
										p Models
								
								div(ng-if="vm.showDefault['models']")
									div(ng-repeat="model in account.models")

										account-model(	
											ng-if="!model.project"
											account="account.name"
											is-account-admin="account.isAdmin"
											model="model"
											project="project"
											user-account="vm.account"
											on-upload-file="vm.uploadFile(model)"
											uploaded-file="vm.uploadedFile"
											model-to-upload="vm.modelToUpload"
											on-show-page="vm.showPage(page, callingPage)"
											on-setup-delete-model="vm.setupDeleteModel(event, model, account, project)",
											quota="vm.quota"
											subscriptions="vm.subscriptions")

								div(ng-click="vm.toggleDefault('feds')")
									md-list-item.tree-node(flex)
										md-button.md-icon-button(aria-label="Folder")
											md-icon.angular-material-icons folder_open 
										p Federations

								div(ng-if="vm.showDefault['feds']"
									ng-repeat="(federationIndex, federation) in account.fedModels")
									account-federations(
										ng-if="!federation.project"
										federation="federation"
										federationIndex="federationIndex",
										account="account",
										accounts="vm.accounts")
									p(ng-if="!account.fedModels.length") No federations created

md-divider

div(layout="row" flex layout-align="end center")
	#floating-button(layout="column" ng-if="vm.addButtons" ng-init="vm.addEscape()")
		md-button(layout="row" ng-click="vm.newModel($event, vm.accounts)") Add Model
		md-button(layout="row" ng-click="vm.setupNewFederation($event, vm.accounts)") Add Federation 
		md-button(layout="row" ng-click="vm.newProject($event,  vm.accounts)") Add Project
div(layout="row" flex layout-align="end center")
	md-button.md-accent.md-fab.md-mini(aria-label="Add", ng-click="vm.addButtonsToggle()")
		md-icon.angular-material-icons {{vm.addButtonType}}


	//div(ng-if="!vm.modelsExist")
		.cardInfo(layout="row", layout-align="center center")
			p {{vm.info}}
			md-progress-circular(md-diameter="20px", ng-if="vm.showProgress", md-mode="indeterminate")
