account-menu
div(ng-if="!vm.state.model")
	#account(layout="row")
		account-info(
		username="vm.username"
		first-name="vm.firstName"
		last-name="vm.lastName"
		email="vm.email"
		has-avatar="vm.hasAvatar"
		item-to-show="vm.itemToShow")

		#accountItem(ng-switch="vm.itemToShow")
			account-teamspaces(
			ng-switch-when="teamspaces"
			account="vm.account"
			accounts="vm.accounts"
			on-show-page="vm.showPage(page, callingPage, data)"
			quota="vm.quota"
			selected-index="vm.data.tabIndex"
			subscriptions="vm.subscriptions")

			account-profile(
			ng-switch-when="profile"
			username="vm.username"
			first-name="vm.firstName"
			last-name="vm.lastName"
			email="vm.email")

			account-billing(
			ng-switch-when="billing"
			account="vm.account"
			billing-address="vm.billingAddress"
			quota="vm.quota"
			billings="vm.billings"
			subscriptions="vm.subscriptions"
			plans="vm.plans"
			first-name="vm.firstName"
			last-name="vm.lastName")

			account-licenses(
			ng-switch-when="licenses"
			account="vm.account"
			show-page="vm.showPage(page, callingPage)"
			subscriptions="vm.subscriptions")

			account-team(
			ng-switch-when="team"
			account="vm.account"
			show-page="vm.showPage(page, callingPage)"
			subscriptions="vm.subscriptions")

			account-modelsetting(
			ng-switch-when="modelsetting"
			account="vm.account"
			model="vm.model"
			data="vm.data"
			show-page="vm.showPage(page, callingPage, data)"
			subscriptions="vm.subscriptions")

div(ng-if="vm.state.model")
	model(
	keys-down="vm.keysDown"
	account="vm.state.account"
	model="vm.state.model"
	branch="vm.state.branch"
	revision="vm.state.revision"
	issue-id="vm.state.issue"
	state="vm.state")
