account-menu
div(ng-if="!vm.showProject")
	#account(layout="row")
		account-info(
			username="vm.username"
			first-name="vm.firstName"
			last-name="vm.lastName"
			email="vm.email"
			on-show-item="vm.showItem(item)"
		)
		#accountItem(ng-switch="vm.itemToShow")
			account-projects(
				ng-switch-when="repos"
				account="vm.account"
				accounts="vm.accounts"
				show-page="vm.showPage(page, callingPage)"
			)
			account-profile(
				ng-switch-when="profile"
				username="vm.username"
				first-name="vm.firstName"
				last-name="vm.lastName"
				email="vm.email"
			)
			account-billing(
				ng-switch-when="billing"
				show-page="vm.showPage(page, callingPage)"
			)
			account-upgrade(
				ng-switch-when="upgrade"
				calling-page="vm.callingPage"
				show-page="vm.showPage(page, callingPage)"
			)

div(ng-if="vm.showProject")
	project(account="vm.state.account" project="vm.state.project" branch="vm.state.branch" revision="vm.state.revision" state="vm.state")
