account-menu
div(ng-if="!vm.state.project")
	#account(layout="row")
		account-info(
			username="vm.username"
			first-name="vm.firstName"
			last-name="vm.lastName"
			email="vm.email"
			flex="20"
			on-show-item="vm.showItem(item)"
		)
		span(flex="5")
		div(ng-switch="vm.itemToShow", flex="50")
			account-projects(
				account="vm.account"
				projects-grouped='vm.projectsGrouped'
				ng-switch-when="repos"
			)
			account-profile(
				username="vm.username"
				first-name="vm.firstName"
				last-name="vm.lastName"
				email="vm.email"
				ng-switch-when="profile"
			)

div(ng-if="vm.state.project")
	project(account="vm.state.account" project="vm.state.project" branch="vm.state.branch" revision="vm.state.revision" state="vm.state")
