md-dialog#federationDialog(aria-label="Federation", flex-lg="80", flex-gt-lg="50")
	md-toolbar
		.md-toolbar-tools
			h2 Federation
			span(flex)
			md-button.md-icon-button(ng-click="vm.closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
	md-content(layout-margin)
		div(layout="column", flex)
			// Federation name
			div(layout="row", flex)
				md-input-container(flex="50")
					input(placeholder="Federation name", tdr-focus="true", ng-model="vm.newFederationData.name", ng-disabled="vm.federationOriginalData")
					.inputHint(ng-if="!vm.federationOriginalData") Letters, numbers and underscore only

			md-divider

			// List
			div(layout="row", flex)
				// Available
				div(layout="column", flex)
					p(layout="row", layout-align="center center") Available
					md-list(ng-repeat="(accountIndex, account) in vm.accountsCopy")
						md-list-item(ng-click="vm.toggleShowProjects($index)")
							md-icon.angular-material-icons {{account.showProjectsIcon}}
							p {{account.account}}
						md-list(ng-if="account.showProjects")
							md-list-item.federationProject(
							ng-repeat="project in account.projects"
							style="opacity:{{project.federated? 0.2 : 1.0}}")
								md-icon.angular-material-icons dashboard
								p {{project.project}}
								span(flex)
								md-button.md-icon-button(
								aria-label="Add"
								ng-click="vm.addToFederation(accountIndex, $index)"
								ng-if="!project.federated")
									md-icon.angular-material-icons.md-accent add_circle

				// Divider
				div(layout="row", layout-align="center")
					#federationDivider(flex="none")

				// Federated
				div(layout="column", flex)
					p(layout="row", layout-align="center center") Federated
					md-list
						md-list-item.federationProject(ng-repeat="item in vm.newFederationData.subProjects")
							md-icon.angular-material-icons dashboard
							p
								| {{item.project}}
								=" "
								span#federatedProjectAccount ({{item.database}})
							span(flex)
							md-button.md-icon-button(aria-label="Remove", ng-click="vm.removeFromFederation($index)")
								md-icon.angular-material-icons.md-accent remove_circle

			md-divider

			// Save/Cancel
			#federationSave(layout="row", layout-align="start center")
				md-button.md-raised.md-accent(ng-disabled="vm.newFederationButtonDisabled", ng-click="vm.saveFederation()") Save
				md-button.md-accent(ng-disabled="vm.newFederationButtonDisabled", ng-click="vm.closeDialog()") Cancel