md-dialog.newModelDialog(aria-label="New project")
	md-toolbar
		.md-toolbar-tools
			h2(ng-if="vm.newProjectName == ''") New Project
			h2(ng-if="vm.newProjectName != ''") Edit Project
			span(flex)
			md-button.md-icon-button(ng-click="vm.closeDialog()")
				md-icon.angular-material-icons(aria-label="Close dialog") close
	md-content(layout-margin)
		div(layout="column")
			md-input-container
				md-select(
					ng-disabled="vm.projectData.teamspaceName != ''"
					placeholder="Teamspace"
					tdr-focus="true"
					ng-model="vm.projectData.teamspaceName")
					md-option(
						ng-repeat="account in vm.accounts"
						ng-selected="account.name == vm.projectData.teamspaceName"
						value="{{account.name}}") {{account.name}}

			md-input-container
				input(
					placeholder="Project"
					ng-model="vm.projectData.newProjectName")

			md-input-container()
				md-button.md-raised.md-accent(
					ng-if="vm.projectData.oldProjectName == ''"
					ng-disabled="!vm.projectData.newProjectName"
					ng-click="vm.saveNewProject(vm.projectData.teamspaceName, vm.projectData.newProjectName)") Save

				md-button.md-raised.md-accent(
					ng-if="vm.projectData.oldProjectName != ''"
					ng-disabled="vm.projectData.newProjectName == vm.projectData.oldProjectName"
					ng-click="vm.updateProject(vm.projectData.teamspaceName, vm.projectData.oldProjectName, vm.projectData.newProjectName)") Update

				p#modelDialogError(ng-if="vm.projectData.errorMessage") {{vm.errorMessage}}

