.memberCard(layout="column", layout-align="center start")
	.memberCardName(
		md-highlight-text="vm.highlightText"
		md-highlight-flags="i") {{vm.data.lastName | uppercase}}, {{vm.data.firstName}}
	.memberCardLogin(
		md-highlight-text="vm.highlightText"
		md-highlight-flags="i") {{vm.data.user}}
	.memberCardCompany(
		ng-if="vm.data.company"
		md-highlight-text="vm.highlightText"
		md-highlight-flags="i") {{vm.data.company}}