doctype html
html(lang="en")
	head
		base(href="/")

		// Meta, title, CSS, favicons, etc.
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title 3D Repo | Online BIM collaboration platform

		// Manifest file (PWA)
		link(rel="manifest" href="/manifest.json")

		// All CSS minified
		link(rel='stylesheet', type='text/css', href='/public/dist/three_d_repo.min.css')

		// Styling used in the Angular Material demos
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
	
		// Load config from server and dependencies + 3D Repo JavaScript
		script(type="text/javascript", src="/config.js")
		script(type="text/javascript", src='/public/dist/three_d_repo.min.js')
		
	body

		// Frontend plugin Pug files
		each j in frontendPug
			script(type="text/ng-template", id=j.id)
				!= renderMe(j.path, locals)

		// Legal pages
		each j in legalTemplates
			script(type="text/ng-template", id=j.page+".html")
				!= renderMe(j.path, locals)

		#notSupported(style='visibility:hidden')
			| Your browser is not supported.
			| Please upgrade to the latest version of 
			a(href='https://www.google.co.uk/chrome', target='_blank') Chrome
			| , 
			a(href='https://www.mozilla.org/firefox', target='_blank') FireFox
			|  or 
			a(target='_blank', href='https://www.microsoft.com/en-gb/windows/microsoft-edge') Edge
			br
			br
			br
			input(id='notSupportedButton' type='button', value='OK', style='padding:10px 60px; font-size:14px;' onclick='document.getElementById("notSupported").style.visibility="hidden"')

		|<!-- For IE <= 9-->
		|<!--[if (IE)]>
		|	<script type="text/javascript">
		|		document.getElementById('notSupported').style.visibility='visible';
		|		document.getElementById('notSupportedButton').style.display = 'none';
		|	</script>
		|	
		|<![endif]-->


		// Entry point for all components
		home

		// Check for support, if okay bootstrap AngularJS app
		script.

			if(window && window.BrowserDetect && BrowserDetect.browser === 'Explorer'){
				document.getElementById('notSupported').style.visibility='visible';
				if (BrowserDetect.version <= 10){
					document.getElementById('notSupportedButton').style.display = 'none';
				}
			} else {
				angular.bootstrap(document.body, ['3drepo'], { strictDi: true });
			}


		// ReCapthca
		script(src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded", async)


		// Google Code for Remarketing Tag
		//
			------------------------------------------------
			Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. 
			See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
			-------------------------------------------------
		if googleConversionId

			script(type='text/javascript').
				/* <![CDATA[ */
				var google_conversion_id = !{googleConversionId};
				var google_custom_params = window.google_tag_params;
				var google_remarketing_only = true;
				/* ]]> */
			script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')

			noscript
				div(style='display:inline;')
					img(height='1'
						width='1'
						style='border-style:none;'
						alt=''
						src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/#{googleConversionId}/?guid=ON&script=0')

		if development
			// Else load LiveReload
			script(src="//localhost:35729/livereload.js", async)


