doctype html
html(lang="en" ng-app="3drepo")
	head
		base(href="/")

		// Meta, title, CSS, favicons, etc.
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title 3D Repo

		// All CSS minified
		// TODO: Can we just not use Material Design on this page? Would make it more maintainable
		// and less buggy with Phantom JS
		link(rel='stylesheet', type='text/css', href=baseURL + '/public/dist/three_d_repo.min.css')

		// Styling used in the Angular Material demos
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")

		style(type='text/css').
			p {
				margin-top: 0px;
				margin-bottom: 0px;
				padding: 0px;
			}
			table {
				width: 100%;
				table-layout : fixed;
				padding-bottom: 15px;
			}
			.tableCell {
				text-align: left;
				font-weight: normal;
				padding: 0;
				vertical-align: top;
			}
			.tableHead {
				font-weight: bold;
				padding-bottom: 10px;
			}

			.productCol {
				width: 300px;
			}

	body
		billing
			div(layout-fill, layout="column", class="layout-fill layout-column")
				md-content(
					layout="row"
					flex="none"
					layout-align="center"
					class="ng-scope _md layout-align-center-stretch layout-row flex-none")

					div(layout="column", class="layout-column", style="width:90%")
						#billingCompanyAddress(
							layout="row", 
							layout-align="start start", 
							class="layout-align-start-start layout-row")

							div(layout="column", class="layout-column flex-45", flex="45")
								p.md-title 3D Repo
								p 20 Eastbourne Terrace
								p London
								p W2 6LG
								p United Kingdom
								p VAT registration: GB 206 9090 15
								p
									| Email:
									=" "
									a(href="mailto:support@3drepo.org") support@3drepo.org

							span.flex(flex)

							div(layout="column"
								layout-align="end end"
								class="layout-align-end-end layout-column")

								img#billingInvoiceLogo(src=baseURL+"/public/images/logo.png" style="height:57.5px")
								p.md-display-1.ng-binding 
														| #{billing.pending ? 'Order confirmation': 'Invoice'}

								if !billing.pending
									br
									span PayPal transaction ID: #{billing.transactionId}

						#billingGap

						table.billingInfoTitle
							tr
								th.tableCell.tableHead To
								th.tableCell.tableHead Date
								th.tableCell.tableHead Invoice Number

							md-divider(flex="none", class="flex-none")

							tr.billingClientAddress
							
								td.tableCell 
									div 
										p #{billing.info.firstName} #{billing.info.lastName}
										if billing.info.company
											p #{billing.info.company}
										p #{billing.info.line1}
			
										if billing.info.line2
											p #{billing.info.line2}
										p #{billing.info.city}
										p #{billing.info.postalCode}
										p #{billing.info.country}
										if billing.info.vat
											p VAT ID: #{billing.info.vat}

								td.tableCell #{billing.createdAt} GMT
								td.tableCell #{billing.invoiceNo}

						table.billingInfoTitle()
							tr
								th.tableCell.tableHead.productCol Product
								th.tableCell.tableHead Quantity
								th.tableCell.tableHead Unit Price
								th.tableCell.tableHead Net
								th.tableCell.tableHead VAT (%)
								th.tableCell.tableHead VAT
								th.tableCell.tableHead Total

							md-divider(flex="none", class="flex-none")

							tr
								td.tableCell.productCol 
									p 
										| #{billing.items[0].description}
										if billing.proRata
											|   (pro-rata)
									p#billingPeriod (#{billing.periodStart} to #{billing.periodEnd})

								td.tableCell #{billing.items.length}
								td.tableCell £#{billing.unitPrice}
								td.tableCell £#{billing.netAmount}
								td.tableCell #{billing.taxPercentage}%
								td.tableCell £#{billing.taxAmount}
								td.tableCell £#{billing.amount}

						md-divider(flex="none", class="flex-none")
						br
						p You next regular monthly payment £#{billing.nextPaymentAmount} will be billed on #{billing.nextPaymentDate}
						if billing.B2B_EU
							#billingReverseCharge(flex)
								p
									| This invoice may be subject to the
									=" "
									a(target="_blank", href="http://ec.europa.eu/taxation_customs/taxation/vat/topics/invoicing_en.htm") Reverse Charge
