.permissionsList
	.permissionsListHeader(layout="row" layout-align="start center")
		.permissionsListCell.permissionsListCheckbox(layout="row" layout-align="center center" flex="10")
			md-checkbox(
				md-indeterminate="vm.hasSelectedItem && !vm.shouldSelectAllItems"
				ng-disabled="!vm.processedData.length"
				ng-change="vm.toggleAllItems()"
				ng-checked="vm.shouldSelectAllItems"
				ng-model="vm.shouldSelectAllItems")
	
		.permissionsListCell.permissionsListUser(layout="row" layout-align="start center" flex="25")
			list-sort-button(
				ng-disabled="!vm.processedData.length"
				ng-class="{'active': vm.currentSort.type === vm.SORT_TYPES.USERS}"
				on-change="vm.setSortType(vm.SORT_TYPES.USERS, order)")

			md-input-container.permissionsListCellSearch(layout="row" layout-align="start center")
				md-icon.angular-material-icons search
				input(
					ng-disabled="!vm.data.length"
					ng-model="vm.searchText"
					ng-model-options="{debounce: 200}"
					placeholder="User"
					ng-change="vm.onSearch()")

		md-radio-group(
			ng-model="vm.permissionsForSelected"
			ng-change="vm.updatePermissionsForSelected(vm.permissionsForSelected)"
			layout="row"
			layout-align="start center")
			.permissionsListCell.noPadding(
				layout="column"
				layout-align="center center"
				ng-style="{'width': permission.width}"
				ng-repeat="permission in vm.permissions")
				div(layout="row" layout-align="center center")
					list-sort-button(
						ng-disabled="!vm.processedData.length"
						ng-class="{'active': vm.currentSort.type === vm.SORT_TYPES.FIELD && vm.currentSort.config.key === permission.key}"
						on-change="vm.setSortType(vm.SORT_TYPES.FIELD, order, {key: permission.key})")
					.usersListCellLabel {{::permission.label}}
				md-radio-button(
					ng-disabled="!vm.hasSelectedItem || !vm.data.length"
					ng-value="permission.key"
					aria-label="{{::permission.label}}")

	.permissionsListLoader(ng-if="vm.isLoading" layout="row" layout-align="center center")
		md-progress-circular(md-mode="indeterminate" md-diameter="20")

	.permissionsListPlaceholder(
		ng-if="!vm.isLoading && !vm.data.length"
		layout="row"
		layout-align="center center")
		p Select a project to view the users' permissions

	.permissionsListBody(
		ng-if="!vm.isLoading && vm.data.length"
		data-simplebar
		data-simplebar-x-hidden)
		div.permissionsListRow(
			ng-repeat="row in vm.processedData track by row.user"
			layout="row"
			layout-align="start center")

			//Checkbox
			.permissionsListCell.permissionsListCheckbox(layout="row" layout-align="center center" flex="10")
				md-checkbox(
					ng-disabled="row.isAdmin"
					ng-model="row.isSelected"
					ng-change="vm.onSelectionChange()")

			//User details
			.permissionsListCell.permissionsListUser(flex="25")
				member-card(data="row")

			//Permissions
			md-radio-group(
				ng-model="row.key"
				ng-change="vm.updatePermission(row)"
				layout="row"
				layout-align="start center")
				.permissionsListCell.noPadding(
					ng-repeat="permission in vm.permissions"
					ng-style="{'width': permission.width}"
					layout="row"
					layout-align="center center")
					md-radio-button(
						ng-disabled="row.isAdmin || row.isDisabled || row.isCurrentUser"
						ng-value="permission.key"
						aria-label="{{::permission.label}}")