md-menu-bar
	md-menu
		md-button.md-icon-button(
			aria-label="Menu"
			ng-click="$mdMenu.open($event)")
			md-icon.angular-material-icons(ng-if="vm.buttonLabel===''") more_vert
			div(ng-if="vm.buttonLabel!==''") {{vm.buttonLabel}}

		md-menu-content(width="4" style="max-height:none")
			md-menu-item.menuHighlight(
				ng-repeat="menuItem in vm.menu track by menuItem.label"
				ng-if="!menuItem.hidden")

				md-button(ng-click="vm.onClickItem(menuItem)" aria-label="{{menuItem.label}}"  ng-if="menuItem.menu===undefined" ng-attr-md-prevent-menu-close="{{menuItem.stopClose && 'md-prevent-menu-close'}}" ng-disabled="menuItem.disabled")
					ng-include(src="'/templates/panel-card-option-menu-item.html'")

				md-menu(ng-if="menuItem.menu!==undefined")
					md-button( ng-click="$mdMenu.open($event)" aria-label="{{menuItem.label}}" ng-attr-md-prevent-menu-close="{{menuItem.stopClose && 'md-prevent-menu-close'}}" ng-disabled="menuItem.disabled")
						ng-include(src="'templates/panel-card-option-menu-item.html'")

					md-menu-content(width="4" style="max-height:none"  ng-init="parentItem = menuItem")
						md-menu-item.menuHighlight(
							ng-repeat="menuItem in menuItem.menu track by menuItem.label"
							ng-if="!menuItem.hidden")
							md-button(ng-click="vm.onClickItem(menuItem, parentItem)" aria-label="{{menuItem.label}}" ng-attr-md-prevent-menu-close="{{menuItem.stopClose && 'md-prevent-menu-close'}}" ng-disabled="menuItem.disabled")
								ng-include(src="'/templates/panel-card-option-menu-item.html'")
