div(ng-show="vm.showPanel")
	div#items(ng-class="{ active : vm.activate }")

		div(ng-repeat="contentItem in vm.contentItems track by contentItem.type")
			panel-card(
				id="{{contentItem.type + 'Panel'}}"
				account="vm.account"
				model="vm.model"
				branch="vm.branch"
				revision="vm.revision"
				position="vm.position"
				model-settings="vm.modelSettings"
				content-data='contentItem'
				ng-if="!contentItem.isReactComponent"
				ng-show="contentItem.show"
				on-height-request="vm.heightRequest(contentItem, height)"
				selected-objects="vm.selectedObjects"
				set-initial-selected-objects="vm.setInitialSelectedObjects({selectedObjects: selectedObjects})")

			height-setter#reactComponent(
				ng-if="contentItem.isReactComponent && contentItem.show"
				content-data="contentItem"
				on-height-update="vm.heightRequest(vm.contentItems[$index], height)")
				gis(ng-if="contentItem.type === 'gis'")
				views(
					ng-if="contentItem.type === 'viewpoints'"
					teamspace="vm.account"
					model-id="vm.model"
				)
				risks(ng-if="contentItem.type === 'risks'")

			div(ng-if="contentItem.showGap", style="display:block; height:20px;")

	div#buttons.leftButtons(
		ng-class="{ active : vm.activate }"
		ng-if="vm.position === 'left'")

		.panelButtonGroup(
			ng-repeat="contentItem in vm.contentItems"
			ng-if="!vm.isLiteMode || contentItem.showLiteMode"
			layout="column"
			layout-align="start center")

			md-button.md-fab.md-primary.md-mini(
				id="{{contentItem.type + 'LeftButton'}}"
				ng-click="vm.togglePanel(contentItem.type)"
				aria-label="{{contentItem.title}}"
				style="background-color:{{contentItem.bgColour}}")

				//md-tooltip(ng-if="contentItem.show" md-direction="right") Close
				//md-tooltip(ng-if="!contentItem.show" md-direction="right") Show
				md-icon.angular-material-icons {{contentItem.icon}}
			label {{contentItem.title}}
