md-toolbar
	.md-toolbar-tools
		md-button.md-icon-button
			md-icon.angular-material-icons(aria-label="Screen Shot") camera_alt
		h2 Screen Shot
		span(flex)
		md-button.md-icon-button(ng-click="vm.closeDialog()")
			md-icon.angular-material-icons(aria-label="Close dialog") close
md-content#issueScreenShotContent(layout="row", layout-align="center center")
	img#issueScreenShotImage(ng-src="{{vm.screenShotUse}}")
	div(ng-if="!vm.screenShot")
		canvas#scribbleCanvas
		#issueScreenShotActions(layout="row", style="pointer-events:{{vm.actionsPointerEvents}}")
			md-button.md-icon-button(
			ng-repeat="action in vm.actions"
			aria-label="{{action.icon}}"
			ng-click="vm.doAction($index)")
				md-tooltip(md-direction="bottom") {{action.label}}
				md-icon.angular-material-icons(
				ng-if="action.icon.indexOf('fa fa-') === -1"
				style="color:{{action.color}}") {{action.icon}}
				md-icon#issueScreenShotFAIcon(
				ng-if="action.icon.indexOf('fa fa-') !== -1"
				class="fa fa-eraser"
				style="color:{{action.color}}")
			md-button.md-fab.md-mini(ng-click="vm.save()")
				md-icon.angular-material-icons(aria-label="Save") save

canvas#screenShotCanvas
md-icon#issueScreenShotPenIndicator(class="fa fa-circle-thin", ng-show="vm.showPenIndicator")
