md-chips(ng-model="ctrl.chips"
	md-transform-chip="ctrl.transformChip($chip)"
	md-separator-keys="ctrl.chipSeparators")

	md-autocomplete(
		md-selected-item="ctrl.selectedItem"
		md-search-text="ctrl.searchText"
		md-items="item in ctrl.querySearch(ctrl.searchText)"
		md-item-text="item.name"
		placeholder="{{ctrl.placeHolder}}")

		span(md-highlight-text="ctrl.searchText") {{item.name}} : {{item.type}}

	md-chip-template
		span {{ ctrl.formatChip($chip) }}