#issuesListContainer(
	ng-switch="vm.toShow" 
	tabindex="0"
	tdr-focus="true"
	ng-mousemove="vm.initSetFocus()")
	
	// List
	div(ng-switch-when="list")
		.issueListItem(
			ng-repeat="issue in vm.issuesToShow track by $index"
			layout="column"
			ng-click="vm.select(issue)"
			ng-mouseenter="vm.setFocus(issue, $index)"
			ng-mouseleave="vm.removeFocus(issue)"
			ng-class="{issueListItemFocus: issue.focus}")

			.issueJustClosed(ng-if="issue.justClosed" flex="none")
				.closedText This issue is now closed
			issues-list-item(
				data="issue"
				user-job="vm.userJob")

			md-divider

			#issuesListItemEnter(
				ng-if="issue.selected"
				ng-click="vm.editIssue(issue)"
				layout="column"
				layout-align="center center")
				
				md-icon.angular-material-icons arrow_forward


	// Info
	.cardInfo(ng-switch-when="info")
		p {{vm.info}}
