#rightPanelButtons(layout="column", ng-if="vm.showPanel")
	.rightPanelButtonGroup(ng-repeat="(key, value) in vm.issueButtons", layout="column", layout-align="start center")
		md-button.md-accent.md-fab.md-mini(aria-label="{{key}}", ng-click="vm.issueButtonClick(key)", style="background:{{value.background}}")
			md-tooltip(md-direction="left") {{key}}
			md-icon.angular-material-icons(ng-if="value.icon") {{value.icon}}
			md-icon(ng-if="value.faIcon", class="{{value.faIcon}}")
		label {{value.label}}

	.rightPanelButtonGroup(layout="column", layout-align="start center")

		// META DATA TOOL
		md-button.md-accent.md-fab.md-mini(
			aria-label="Meta"
			ng-click="vm.toggleAutoMetaData()"
			ng-disabled="vm.measureDisabled"
			style="background:{{vm.metaBackground}}")

			md-tooltip(ng-if="vm.metaData" md-direction="left") Disable
			md-tooltip(ng-if="!vm.metaData" md-direction="left") Enable
			md-icon.angular-material-icons content_copy
		label Meta
		
		// MEASURE TOOL
		md-button.md-accent.md-fab.md-mini(
			aria-label="Measure"
			ng-click="vm.toggleMeasure()"
			ng-disabled="vm.measureDisabled"
			style="background:{{vm.measureBackground}}")
			
			md-tooltip(md-direction="left") Measure
			md-icon.angular-material-icons straighten
		label Measure
