#rightPanelButtons(layout="column", ng-if="vm.showPanel")

	.rightPanelButtonGroup(layout="column", layout-align="start center")

		// META DATA TOOL
		md-button.md-accent.md-fab.md-mini(
			id="metadataButton"
			aria-label="Meta"
			ng-click="vm.toggleAutoMetaData()"
			ng-disabled="vm.measureDisabled"
			style="background:{{vm.metaBackground}}")

			md-tooltip(ng-if="vm.metaData" md-direction="left") Disable
			md-tooltip(ng-if="!vm.metaData" md-direction="left") Enable
			md-icon.angular-material-icons content_copy
		label Meta
		
		// MEASURE TOOL
		md-button.md-accent.md-fab.md-mini(
			id="measureButton"
			aria-label="Measure"
			ng-click="vm.toggleMeasure()"
			ng-disabled="vm.measureDisabled"
			style="background:{{vm.measureBackground}}")
			
			md-tooltip(md-direction="left") Measure
			md-icon.angular-material-icons straighten
		label Measure
