doctype html
html(lang="en" ng-app="3drepo")
	head
		base(href="/")

		// Meta, title, CSS, favicons, etc.
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title 3D Repo - Refund

		// Styling used in the Angular Material demos
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
		style(type='text/css').

			html, body {
				font-family: Arial, sans-serif;
				font-size:10px;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}

			div.container {
				width: 90%;
				padding: 5%;
				position: absolute;
			}

			p {
				margin-top: 0px;
				margin-bottom: 0px;
				padding: 0px;
				font-weight: lighter;
			}
			table {
				width: 100%;
				table-layout : fixed;
				padding-bottom: 15px;
			}
			.tableCell {
				text-align: left;
				font-weight: normal;
				padding: 0;
				padding-top: 10px;
				vertical-align: top;
			}
			.tableHead {
				font-weight: bold;
				padding-bottom: 1px;
				margin-bottom: 9px;
				border-bottom: 1px solid black;
				border-collapse: collapse;
			}

			.productCol {
				width: 300px;
			}

			.topBlocks {
				width: 50%;
				display: inline-block;
				height: 300px;
				vertical-align: top;
			}

			#billingCompanyAddress {
				text-align: left;
			}

			#billingInvoice {
				text-align: right;
			}

			.companyTitle {
				font-weight: 500;
			}

			.invoice {
				margin-top: 50px;
				font-size: 30px;
			}

			#billingPeriod {
				font-weight: 400;
				color: #8a8a8a;
			}

			#billingInvoiceLogo {
				height: 57.5px;
			}

	body
		div.container
			div
				#billingCompanyAddress.topBlocks

					div(layout="column", class="layout-column flex-45", flex="45")
						p.companyTitle 3D Repo
						p 307 Euston Road
						p Bloomsbury
						p London
						p NW1 3AD
						p United Kingdom
						p VAT registration: GB 206 9090 15
						p
							| Email:
							=" "
							a(href="mailto:support@3drepo.org") support@3drepo.org

					span.flex(flex)

				#billingInvoice.topBlocks
					div
						img#billingInvoiceLogo(src=baseURL+"/assets/images/logo.png")

					div.invoice
						p Credit Note

					if !billing.pending
						br
						p
							| PayPal transaction ID:
							a(href="https://www.paypal.com/activity/payment/#{billing.transactionId}") #{billing.transactionId}

			table(cellspacing="0")
				tr
					th.tableCell.tableHead To
					th.tableCell.tableHead Date
					th.tableCell.tableHead Credit Note Number

				tr.billingClientAddress

					td.tableCell
						div
							p #{billing.info.firstName} #{billing.info.lastName}
							if billing.info.company
								p #{billing.info.company}
							p #{billing.info.line1}

							if billing.info.line2
								p #{billing.info.line2}
							p #{billing.info.city}
							p #{billing.info.postalCode}
							p #{billing.info.countryName}
							if billing.info.vat
								p VAT ID: #{billing.info.vat}

					td.tableCell #{billing.createdAt} GMT
					td.tableCell #{billing.invoiceNo}

			table(cellspacing="0")
				tr
					th.tableCell.tableHead.productCol Description
					th.tableCell.tableHead Net
					th.tableCell.tableHead VAT (%)
					th.tableCell.tableHead VAT
					th.tableCell.tableHead Total

				tr
					td.tableCell.productCol
						p Refund (#{user})
					td.tableCell £#{parseFloat(billing.netAmount).toFixed(2)}
					td.tableCell #{parseFloat(billing.taxPercentage).toFixed(2)}%
					td.tableCell £#{parseFloat(billing.taxAmount).toFixed(2)}
					td.tableCell £#{parseFloat(billing.amount).toFixed(2)}


			br


