div(ng-class="tr.height")
	// Tree
	div(ui-tree, data-nodrop-enabled="true", data-nodrag="true", ng-show="tr.showTree")
		tree-nodes(
			nodes="tr.nodes"
			show-children="tr.showChildren"
			ng-if="true"
			on-node-selected="tr.nodeSelected(nodeId)"
			on-node-toggled="tr.nodeToggled(nodeId)"
			selected-node="tr.selectedNode"
			toggled-node="tr.toggledNode"
		)

	// Filter list
	div(ng-cloak="", class="virtualRepeatdemoInfiniteScroll", ng-if="tr.showFilterList")
		md-content(layout="column")
			md-virtual-repeat-container(id="vertical-container")
				div(
					md-virtual-repeat="item in tr.infiniteItems"
					md-on-demand=""
					class="repeated-item"
					flex=""
					ng-class="item.class"
					layout="row"
					layout-align="start center"
				)
					md-checkbox(
						ng-show="item!==null"
						ng-model="item.toggleState"
						ng-change="tr.filterItemToggled(item)"
						aria-label="Toggle"
					)
					md-list-item#treeFilterItemName(ng-click="tr.filterItemSelected(item)")
						p {{item.name}}
