div(ui-tree, data-nodrop-enabled="true", data-nodrag="true", ng-if="tr.showTree")
	tree-nodes(
		nodes="tr.nodes"
		show-children="tr.showChildren"
		ng-if="true"
		on-node-selected="tr.nodeSelected(nodeId)"
		on-node-toggled="tr.nodeToggled(nodeId)"
		selected-node="tr.selectedNode"
		toggled-node="tr.toggledNode"
		filter-text="tr.filterText")